Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B test
  tags:
  - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
    - api/target/*.jar
    expire_in: 1 week
  tags:
  - docker

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend
  - npm config set fetch-retries 5
  - npm config set fetch-retry-mintimeout 20000
  - npm config set fetch-retry-maxtimeout 120000
  - npm ci
  - npm run build
  artifacts:
    when: always
    paths:
    - frontend/dist/
    expire_in: 1 week
  tags:
  - docker

Changed the navbar style of the profile and logout buttons.
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
Due: frontend:build

Change profile popup design
  frontend/src/app/pages/profile/profile.css
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/profile/profile.ts
Due: frontend:build

Change button colors
  frontend/src/app/pages/profile/profile.css
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/profile/profile.ts
Due: frontend:build

Add profile picture url to user profile
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  frontend/src/app/models/users/User.ts
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/profile/profile.ts
Due: backend:test, backend:build, frontend:build

Verandering van naam van pagina en route.
  frontend/src/app/app.routes.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/security-section/devices/devices.css
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.spec.ts
Due: frontend:build

Fixed some issues of the merging.
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
Due: frontend:build

Changed the mobile devices page, to include all devices (mobile, chromeOs and endpoints (Mac / Windows)) .
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DevicePageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceStatus.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/MobileDeviceCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleLicenseService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleMobileDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleDeviceCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleMobileDeviceCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DateTimeConverter.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleApiFactory.java
  frontend/src/app/models/devices/Device.ts
  frontend/src/app/models/devices/DevicePageResponse.ts
  frontend/src/app/models/devices/DeviceStatus.ts
  frontend/src/app/models/devices/DevicesOverviewResponse.ts
  frontend/src/app/models/devices/DevicesPageWarnings.ts
  frontend/src/app/models/devices/MobileDevicePageResponse.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/services/device-service.ts
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Aanpassing aan device page, naamgeving niet overal veranderd.
  frontend/src/app/pages/security-section/devices/devices.html
Due: frontend:build

Add backend
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/PasswordSettingsController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/UserAppPasswordsDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/OrgUnit2SvDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/PasswordChangeRequirementDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/PasswordPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/PasswordSettingsDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/PasswordSettingsSummaryDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/TwoStepVerificationDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
Due: backend:test, backend:build

Show password settings per OU
  api/src/main/java/com/cloudmen/cloudguard/dto/password/OuPasswordPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/PasswordSettingsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleUsersCacheService.java
Due: backend:test, backend:build

Show wachtwoordbeleid in OU table
  api/src/main/java/com/cloudmen/cloudguard/dto/password/OuPasswordPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/app.routes.ts
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/services/password-settings-service.ts
Due: backend:test, backend:build, frontend:build

Change table design
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: frontend:build

Show 2sv requirement status per OU
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: frontend:build

Add extra rules for admins
  api/src/main/java/com/cloudmen/cloudguard/dto/password/OuPasswordPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
Due: backend:test, backend:build, frontend:build

Remove default values
  api/src/main/java/com/cloudmen/cloudguard/dto/password/OuPasswordPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: backend:test, backend:build, frontend:build

Fix missing values
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/pages/security-section/password-settings/password-settings.html
Due: backend:test, backend:build, frontend:build

Remove missing field
  api/src/main/java/com/cloudmen/cloudguard/dto/password/OuPasswordPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: backend:test, backend:build, frontend:build

Remove admin specific policies
  api/src/main/java/com/cloudmen/cloudguard/dto/password/OuPasswordPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
Due: backend:test, backend:build, frontend:build

Html template aangemaakt voor het security rapport, de functionaliteiten voor het genereren van het rapport aangemaakt en deze dan kunnen downloaden in de frontend.
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/controller/ReportController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/report/FullSecurityReport.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PdfReportService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/main/resources/static/logo.png
  api/src/main/resources/templates/security-template.html
  frontend/src/app/access/access-service.ts
  frontend/src/app/access/access.guard.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/home/home.ts
  frontend/src/app/services/report-service.ts
  frontend/src/styles.css
Due: backend:test, backend:build, frontend:build

Add table of admins without security keys
  api/src/main/java/com/cloudmen/cloudguard/controller/AdminSecurityKeysController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/adminsecuritykeys/AdminSecurityKeysResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/adminsecuritykeys/AdminWithSecurityKeyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AdminSecurityKeysService.java
  frontend/src/app/models/admin-security-keys/AdminSecurityKeysResponse.ts
  frontend/src/app/models/admin-security-keys/AdminWithSecurityKey.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/services/admin-security-keys-service.ts
Due: backend:test, backend:build, frontend:build

Add caching and refresh button
  api/src/main/java/com/cloudmen/cloudguard/controller/PasswordSettingsController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/adminsecuritykeys/AdminWithSecurityKeyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AdminSecurityKeysService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/PolicyApiCacheService.java
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/services/password-settings-service.ts
Due: backend:test, backend:build, frontend:build

Add security key data to cache warmup
  api/src/main/java/com/cloudmen/cloudguard/dto/password/PasswordSettingsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: backend:test, backend:build, frontend:build

Change design
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: frontend:build

Make small changes
  api/src/main/java/com/cloudmen/cloudguard/service/AdminSecurityKeysService.java
  frontend/src/app/models/admin-security-keys/AdminWithSecurityKey.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
Due: backend:test, backend:build, frontend:build

Calculate security score
  api/src/main/java/com/cloudmen/cloudguard/dto/adminsecuritykeys/AdminSecurityKeysResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/PasswordSettingsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AdminSecurityKeysService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/models/admin-security-keys/AdminSecurityKeysResponse.ts
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: backend:test, backend:build, frontend:build

Add security warning
  api/src/main/java/com/cloudmen/cloudguard/service/AdminSecurityKeysService.java
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: backend:test, backend:build, frontend:build

Aanpassingen aan html template.
  api/src/main/java/com/cloudmen/cloudguard/context/UserContext.java
  api/src/main/java/com/cloudmen/cloudguard/controller/ReportController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/AppPasswordOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/report/FullSecurityReport.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PdfReportService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleDeviceCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/resources/templates/security-template.html
  frontend/src/app/pages/home/home.ts
Due: backend:test, backend:build, frontend:build

Fix caching
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/PolicyApiCacheService.java
  frontend/src/app/pages/security-section/password-settings/password-settings.html
Due: backend:test, backend:build, frontend:build

Fix force refresh button
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: frontend:build

Make navbar scrollable
  frontend/src/app/navbar/navbar.css
  frontend/src/app/navbar/navbar.html
Due: frontend:build

Changed the template again.
  api/src/main/resources/templates/security-template.html
Due: backend:test, backend:build

Added the password settings to the dashboard calculation.
  api/src/main/java/com/cloudmen/cloudguard/dto/dashboard/DashboardScores.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PdfReportService.java
  frontend/src/app/models/dashboard/DashboardScores.ts
  frontend/src/app/pages/home/home.html
Due: backend:test, backend:build, frontend:build

Fix error
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/PolicyApiCacheService.java
  frontend/src/app/pages/security-section/password-settings/password-settings.html
Due: backend:test, backend:build, frontend:build

Changed the password settings section to better encompass the security report.
  api/src/main/java/com/cloudmen/cloudguard/dto/report/FullSecurityReport.java
  api/src/main/java/com/cloudmen/cloudguard/service/PdfReportService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderCompanyService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderService.java
  api/src/main/resources/static/cover-background-2.png
  api/src/main/resources/static/cover-background.png
  api/src/main/resources/templates/security-template.html
Due: backend:test, backend:build

Update app passwords demo data
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
Due: backend:test, backend:build

Add security score calculation to password-settings
  api/src/main/java/com/cloudmen/cloudguard/dto/password/PasswordSettingsDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/SecurityScoreBreakdownDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/SecurityScoreFactorDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/components/security-score-detail/security-score-detail.css
  frontend/src/app/components/security-score-detail/security-score-detail.html
  frontend/src/app/components/security-score-detail/security-score-detail.ts
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/styles.css
Due: backend:test, backend:build, frontend:build

Improve design
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/components/security-score-detail/security-score-detail.html
  frontend/src/app/components/security-score-detail/security-score-detail.ts
Due: backend:test, backend:build, frontend:build

Add security detail component to all security sections
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/security-score-detail.service.ts
Due: frontend:build

Add calculation details for all security sections
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordResponseDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/OAuthOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  frontend/src/app/models/devices/DevicesOverviewResponse.ts
  frontend/src/app/models/dns/DnsRecordResponse.ts
  frontend/src/app/models/drives/SharedDriveOverviewResponse.ts
  frontend/src/app/models/o-auth/OAuthOverviewResponse.ts
  frontend/src/app/models/users/UserOverviewResponse.ts
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/group-service.ts
Due: backend:test, backend:build, frontend:build

Add calculation factors for app passwords and domain-dns
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/models/app-password/AppPasswordOverviewResponse.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: backend:test, backend:build, frontend:build

Path conditions:
  backend:test: any of: api/**/*, .gitlab-ci.yml
  backend:build: any of: api/**/*, .gitlab-ci.yml
  frontend:build: any of: frontend/**/*, .gitlab-ci.yml
