Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B test
  tags:
  - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
    - api/target/*.jar
    expire_in: 1 week
  tags:
  - docker

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend
  - npm config set fetch-retries 5
  - npm config set fetch-retry-mintimeout 20000
  - npm config set fetch-retry-maxtimeout 120000
  - npm ci
  - npm run build
  artifacts:
    when: always
    paths:
    - frontend/dist/
    expire_in: 1 week
  tags:
  - docker

Add caching
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/PolicyApiCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromeExtensionPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
Due: backend:test, backend:build

Add simple frontend
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/app-password-service.ts
Due: frontend:build

Add overview of app passwords
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/AppPasswordDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/AppPasswordOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/components/section-top-card/section-top-card.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/app-password-service.ts
Due: backend:test, backend:build, frontend:build

Add mock data and improve UI
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/UserAppPasswordsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/app-password-service.ts
Due: backend:test, backend:build, frontend:build

Group app passwords to users and add logging
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/AppPasswordDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/UserAppPasswordsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/app-password-service.ts
Due: backend:test, backend:build, frontend:build

Make small improvements
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/AppPasswordCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/app-password-service.ts
Due: backend:test, backend:build, frontend:build

Add paging
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/AppPasswordPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/app-password-service.ts
Due: backend:test, backend:build, frontend:build

Add refresh button
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/UserAppPasswordsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/app-password-service.ts
Due: backend:test, backend:build, frontend:build

Add link to user profile
  api/src/main/java/com/cloudmen/cloudguard/dto/passwords/UserAppPasswordsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/app-password-service.ts
Due: backend:test, backend:build, frontend:build

Make last changes and add search filter
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/app-password-service.ts
Due: backend:test, backend:build, frontend:build

Change error message
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
Due: frontend:build

Added the data from the backend in the tables and in the bar graph.
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/controller/LicenseController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/InactiveUser.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicenseCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicenseOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicensePageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicenseType.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleLicenseService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleLicenseCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleApiFactory.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/section-top-card/section-top-card.html
  frontend/src/app/components/section-top-card/section-top-card.ts
  frontend/src/app/models/licenses/InactiveUser.ts
  frontend/src/app/models/licenses/LicensePageResponse.ts
  frontend/src/app/models/licenses/LicenseType.ts
  frontend/src/app/pages/control-section/licenses-billing/licenses-billing.html
  frontend/src/app/pages/control-section/licenses-billing/licenses-billing.ts
  frontend/src/app/services/license-service.ts
  frontend/src/app/shared/AppIcons.ts
  frontend/src/styles.css
Due: backend:test, backend:build, frontend:build

Add simple frontend and backend
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDomainController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/DomainDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDomainService.java
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/services/domain-service.ts
Due: backend:test, backend:build, frontend:build

Added all the license code and design without the connector of the billingssystem.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleLicenseController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicensePageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleLicenseService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleLicenseCacheService.java
  frontend/src/app/components/section-top-card/section-top-card.html
  frontend/src/app/components/section-top-card/section-top-card.ts
  frontend/src/app/models/licenses/LicenseOverviewResponse.ts
  frontend/src/app/models/licenses/LicensePageResponse.ts
  frontend/src/app/pages/control-section/licenses-billing/licenses-billing.html
  frontend/src/app/pages/control-section/licenses-billing/licenses-billing.ts
  frontend/src/app/services/license-service.ts
Due: backend:test, backend:build, frontend:build

Fixed an error with the navbar getting role, so now it checks if the role is there and then does the .length function.
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleLicenseCacheService.java
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Add complete domain table
  api/src/main/java/com/cloudmen/cloudguard/dto/DomainDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDomainService.java
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/services/domain-service.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Added the other subscription product id's to show all the subscriptions possible.
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleLicenseCacheService.java
Due: backend:test, backend:build

Changed the license showing to not include Free licenses.
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleLicenseCacheService.java
Due: backend:test, backend:build

Add DNS records table
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/controller/DnsRecordsController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordResponseDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsLookupResult.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsLookupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/services/dns-service.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Add caching for domains
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDomainController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/DomainCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDomainService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleDomainCacheService.java
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/services/domain-service.ts
Due: backend:test, backend:build, frontend:build

Clean up and improve code
  api/src/main/java/com/cloudmen/cloudguard/controller/DnsRecordsController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDomainController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/DomainDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsLookupResult.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordStatus.java
  api/src/main/java/com/cloudmen/cloudguard/dto/domain/DomainCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/domain/DomainDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDomainService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleDomainCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsLookupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: backend:test, backend:build, frontend:build

Add domain and dns overview
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: frontend:build

Improve dns record table
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: frontend:build

Fixed pom.xml.
  api/pom.xml
Due: backend:test, backend:build

new fix for pom.xml.
  api/pom.xml
Due: backend:test, backend:build

Changed the package.json and lock file to help with ci fails.
  frontend/package-lock.json
  frontend/package.json
Due: frontend:build

Improve DNS records status
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordImportance.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordStatus.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsLookupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/services/dns-service.ts
Due: backend:test, backend:build, frontend:build

Fix domain selector
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: frontend:build

Add security check table
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: frontend:build

Add proper links
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: frontend:build

Make small improvements
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: frontend:build

Show real security score
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: frontend:build

Added the start of the billingconnector.3
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/controller/TestController.java
  api/src/main/java/com/cloudmen/cloudguard/service/TeamLeaderAccessService.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Add entities
  api/src/main/java/com/cloudmen/cloudguard/domain/model/Alert.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/DnsRecordImportance.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/DnsRecordStatus.java
  api/src/main/java/com/cloudmen/cloudguard/domain/notifications/Notification.java
  api/src/main/java/com/cloudmen/cloudguard/domain/notifications/NotificationSeverity.java
  api/src/main/java/com/cloudmen/cloudguard/domain/notifications/NotificationStatus.java
  api/src/main/java/com/cloudmen/cloudguard/domain/notifications/NotificationUserState.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Add dtos, repositories and service
  api/src/main/java/com/cloudmen/cloudguard/domain/notifications/NotificationUserState.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/CreateNotificationRequest.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationFeedbackRequest.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationResponseDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationUserStateDto.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationUserStateRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/NotificationService.java
Due: backend:test, backend:build

Add frontend
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Fixed some errors after merging with main branch.
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: frontend:build

Make notification cards expandable for detail
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleUsersController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UsersWithoutTwoFactorResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  frontend/src/app/models/UsersWithoutTwoFactorResponse.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Add notifications for devices and app passwords
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Path conditions:
  backend:test: any of: api/**/*, .gitlab-ci.yml
  backend:build: any of: api/**/*, .gitlab-ci.yml
  frontend:build: any of: frontend/**/*, .gitlab-ci.yml
