Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

.gitlab-ci.yml:

stages: [test, build]

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B test
  tags:
    - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
      - api/target/*.jar
    expire_in: 1 week
  tags:
    - docker

frontend:build:
  stage: build
  image: node:20-alpine
  rules:
    - changes:
        - frontend/**/*
        - .gitlab-ci.yml
  script:
    - cd frontend
    - npm config set fetch-retries 5
    - npm config set fetch-retry-mintimeout 20000
    - npm config set fetch-retry-maxtimeout 120000
    - npm ci
    - npm run build
  artifacts:
    when: always
    paths:
      - frontend/dist/
    expire_in: 1 week
  tags:
    - docker

Remove dead code
  .gitlab-ci.yml
  api/src/main/resources/application.properties
  frontend/src/app/app.routes.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/guards/role.guard.ts
Due: backend:test, backend:build, frontend:build

Add tests
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/CloudguardStaffUserControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/OrganizationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/UserControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/CloudguardStaffServiceTest.java
  frontend/src/app/auth/custom-auth-service.spec.ts
  frontend/src/app/guards/cloudmen-staff.guard.spec.ts
  frontend/src/app/guards/cloudmen-staff.guard.ts
  frontend/src/app/guards/role.guard.spec.ts
  frontend/src/app/guards/role.guard.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.int.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.spec.ts
Due: backend:test, backend:build, frontend:build

Added javadoc for DTO/oauth
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/AggregatedAppDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/AppRiskLevel.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/DataAccessDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/OAuthCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/OAuthOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/OAuthPagedResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/RawUserToken.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/ScopeCategory.java
Due: backend:test, backend:build

Added javadoc for half of the DTO/organization.
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/DatabaseOrgResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitCacheEntry.java
Due: backend:test, backend:build

Added javadoc for DTO/report
  api/src/main/java/com/cloudmen/cloudguard/dto/report/DomainTip.java
  api/src/main/java/com/cloudmen/cloudguard/dto/report/FullSecurityReport.java
  api/src/main/java/com/cloudmen/cloudguard/dto/report/ReportResponse.java
Due: backend:test, backend:build

Fix role label and update tests
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AuthControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/UserServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/app.routes.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.ts
Due: backend:test, backend:build, frontend:build

Added some javadoc for the DTO/users
  api/src/main/java/com/cloudmen/cloudguard/dto/users/DatabaseUsersResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UsersUpdateOrganizationRequest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleUsersServiceTest.java
Due: backend:test, backend:build

Move cloudmen-staff source of truth from frontend to backend
  api/src/main/java/com/cloudmen/cloudguard/controller/OrganizationController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/service/CloudguardStaffService.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Add cloudmen staff guard on account manager route and add flag in navbar and account manager table
  frontend/src/app/app.routes.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/guards/cloudmen-staff.guard.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.ts
  frontend/src/app/services/user-service.ts
Due: frontend:build

Change label design and layout
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.ts
Due: frontend:build

Finished the javadoc for the DTO/users.
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserUpdateRoleRequest.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UsersUpdateOrganizationRequest.java
Due: backend:test, backend:build

Added javadoc for DTO/workspace
  api/src/main/java/com/cloudmen/cloudguard/dto/workspace/WorkspaceSetupRequest.java
Due: backend:test, backend:build

Add and update tests
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-organizations/accounts-manager-organizations.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.spec.ts
  frontend/src/app/pages/workspace-setup/workspace-setup.spec.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/services/user-service.ts
  frontend/src/app/testing/services/user-service.int.spec.ts
  frontend/src/app/testing/services/user-service.spec.ts
Due: backend:test, backend:build, frontend:build

Finished javadoc for DTO package.
  api/src/main/java/com/cloudmen/cloudguard/dto/LoginResult.java
  api/src/main/java/com/cloudmen/cloudguard/dto/TeamleaderTokens.java
  api/src/main/java/com/cloudmen/cloudguard/dto/TokenRequestDto.java
Due: backend:test, backend:build

Added all necessary javadoc for exception package.
  api/src/main/java/com/cloudmen/cloudguard/exception/GoogleWorkspaceSyncException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/InvalidExternalTokenException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/OrganizationIdNotNullException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/OrganizationNotNullException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
Due: backend:test, backend:build

Added all necessary javadoc for interceptor package.
  api/src/main/java/com/cloudmen/cloudguard/interceptor/AuthInterceptor.java
Due: backend:test, backend:build

Added javadoc for the repository package.
  api/src/main/java/com/cloudmen/cloudguard/repository/OrganizationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
Due: backend:test, backend:build

Removed unused security package.
  api/src/main/java/com/cloudmen/cloudguard/security/WorkspaceIdentityClaims.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
Due: backend:test, backend:build

Added javadoc for the service/cache package.
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleDeviceCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleLicenseCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOAuthCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleSharedDriveCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleUsersCacheService.java
Due: backend:test, backend:build

Change styling for security preferences
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/security-preferences/security-preferences.html
  frontend/src/app/pages/control-section/security-preferences/security-preferences.spec.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
Due: frontend:build

Added javadoc for the service/report package.
  api/src/main/java/com/cloudmen/cloudguard/service/report/BiannualReportScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/SecurityReportEmailService.java
Due: backend:test, backend:build

Added javadoc for service/teamleader package.
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderCompanyService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderService.java
Due: backend:test, backend:build

Handle duplicate notifications with flushand upsert
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionSyncService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationProjectionSyncServiceTest.java
Due: backend:test, backend:build

Use one notification call for dashboard to reduce duplicate processing
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/DashboardServiceTest.java
Due: backend:test, backend:build

Added javadoc and made some file changes so the google services for devices, oauth tokens and drives are not too big on responsibility, but split up in mapper and scorer components.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOAuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleSharedDriveController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AccessRequestEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/DeviceComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/GoogleDeviceMapper.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/drives/DrivesComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/drives/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/oauth/AggregatedAppBuilder.java
  api/src/main/java/com/cloudmen/cloudguard/service/oauth/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/oauth/OAuthComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/oauth/OAuthScopeMapper.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleDeviceControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleOAuthControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleSharedDriveControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/DashboardServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleDeviceServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleOAuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleSharedDriveServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/report/PdfReportServiceTest.java
Due: backend:test, backend:build

Added javadoc for the utility classes.
  api/src/main/java/com/cloudmen/cloudguard/utility/DateTimeConverter.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleApiFactory.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/main/java/com/cloudmen/cloudguard/utility/UtilityFunctions.java
Due: backend:test, backend:build

Add cypress to project
  cypress.config.js
  cypress/e2e/firstTest.cy.js
  cypress/fixtures/example.json
  cypress/support/commands.js
  cypress/support/e2e.js
  frontend/src/app/pages/login/login.html
  package.json
Due: frontend:build

Add e2e tests
  cypress.config.js
  cypress/e2e/accounts-manager.cy.js
  cypress/e2e/app-access.cy.js
  cypress/e2e/app-passwords.cy.js
  cypress/e2e/dashboard.cy.js
  cypress/e2e/devices.cy.js
  cypress/e2e/domain-dns.cy.js
  cypress/e2e/firstTest.cy.js
  cypress/e2e/licenses.cy.js
  cypress/e2e/login.cy.js
  cypress/e2e/organizational-units.cy.js
  cypress/e2e/password-settings.cy.js
  cypress/e2e/profile-popup.cy.js
  cypress/e2e/reports-reactions.cy.js
  cypress/e2e/security-preferences.cy.js
  cypress/e2e/shared-drives.cy.js
  cypress/e2e/users-groups.cy.js
  cypress/support/commands.js
  frontend/src/app/access/access.guard.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-organizations/accounts-manager-organizations.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/pages/control-section/licenses/licenses.html
  frontend/src/app/pages/control-section/licenses/licenses.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/pages/login/login.html
  package-lock.json
Due: frontend:build

Add small changes to the UI
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
Due: frontend:build

Add logging for teamleader access
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
Due: backend:test, backend:build

Added the start of the denied table. And added to the access guard new checks so the user has to be true to be able to see a pge.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDecisionRequestDto.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/AccessRequestEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
  frontend/public/i18n/nl.json
  frontend/src/app/access/access.guard.ts
  frontend/src/app/app.config.ts
  frontend/src/app/components/user-decision-dialog/user-decision-dialog.html
  frontend/src/app/components/user-decision-dialog/user-decision-dialog.ts
  frontend/src/app/interceptor/error.interceptor.ts
  frontend/src/app/models/DecisionResult.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.css
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.css
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-requests/accounts-manager-requests.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Check that email domain matches custom field and add logging
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderCompanyService.java
Due: backend:test, backend:build

Check custom field first
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderCompanyService.java
Due: backend:test, backend:build

Check company's email domain if crm doesn't match
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderCompanyService.java
Due: backend:test, backend:build
