Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B test
  tags:
  - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
    - api/target/*.jar
    expire_in: 1 week
  tags:
  - docker

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend
  - npm config set fetch-retries 5
  - npm config set fetch-retry-mintimeout 20000
  - npm config set fetch-retry-maxtimeout 120000
  - npm ci
  - npm run build
  artifacts:
    when: always
    paths:
    - frontend/dist/
    expire_in: 1 week
  tags:
  - docker

Show disabled preferences in security score detail
  api/src/main/java/com/cloudmen/cloudguard/dto/password/SecurityScoreFactorDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  frontend/src/app/components/security-score-detail/security-score-detail.html
  frontend/src/app/components/security-score-detail/security-score-detail.ts
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/services/security-score-detail.service.ts
Due: backend:test, backend:build, frontend:build

Exclude optional DNS records from security score calculation
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  frontend/src/app/components/security-score-detail/security-score-detail.html
Due: backend:test, backend:build, frontend:build

Improve design
  frontend/src/app/components/page-warnings/page-warnings-item/page-warnings-item.html
  frontend/src/app/components/page-warnings/page-warnings-item/page-warnings-item.ts
  frontend/src/app/components/page-warnings/page-warnings.html
  frontend/src/app/components/page-warnings/page-warnings.ts
  frontend/src/app/models/preferences/section-preference-config.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.html
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Gray out mobile device security checks when muted
  frontend/src/app/models/devices/Device.ts
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/devices/devices.ts
Due: frontend:build

Update compliance percentage calculation to include preferences
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
Due: backend:test, backend:build

Fix merge conflicts
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: backend:test, backend:build, frontend:build

Changed the report code for the domain to be translated;
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  api/src/main/resources/templates/security-template_en.html
Due: backend:test, backend:build

Fixed the report with missing nl translation.
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  api/src/main/resources/messages_nl.properties
  api/src/main/resources/templates/security-template_nl.html
Due: backend:test, backend:build

Translate security settings page
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/models/preferences/section-preference-config.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.html
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
Due: frontend:build

Improve translations
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/security-preferences/security-preferences.html
Due: frontend:build

Fix design error
  frontend/public/i18n/en.json
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
Due: frontend:build

Change domain translation
  frontend/public/i18n/en.json
Due: frontend:build

Made the bi annual report be in the language the user prefers.
  api/src/main/java/com/cloudmen/cloudguard/controller/NotificationController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/ReportController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/BiannualReportScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/SecurityReportEmailService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/language-bar/language-bar.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Added a fix for the passsword settings.
  api/src/main/java/com/cloudmen/cloudguard/service/AdminSecurityKeysService.java
  frontend/src/app/app.config.ts
Due: backend:test, backend:build, frontend:build

Add unit tests for security preferences
  api/pom.xml
  api/src/test/java/com/cloudmen/cloudguard/service/preference/DnsImportancePreferenceSupportTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/preference/PreferenceToNotificationMappingTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/preference/SecurityPreferenceScoreSupportTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/preference/UserSecurityPreferenceServiceTest.java
Due: backend:test, backend:build

Add unit tests for groups
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleGroupsServiceTest.java
Due: backend:test, backend:build

Add unit tests for app passwords
  api/src/test/java/com/cloudmen/cloudguard/service/AppPasswordsServiceTest.java
Due: backend:test, backend:build

Add unit tests for password settings
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/test/java/com/cloudmen/cloudguard/service/PasswordSettingsServiceTest.java
Due: backend:test, backend:build

Add more unit tests for password settings
  api/src/test/java/com/cloudmen/cloudguard/service/PasswordSettingsServiceTest.java
Due: backend:test, backend:build

Add unit tests for domain & dns
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleDomainServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/dns/DnsRecordsServiceTest.java
Due: backend:test, backend:build

Add unit tests for notifications
  api/src/test/java/com/cloudmen/cloudguard/service/notification/DismissedNotificationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/notification/NotificationFeedbackServiceTest.java
Due: backend:test, backend:build

Add unit tests for feedback
  api/src/test/java/com/cloudmen/cloudguard/controller/NotificationFeedbackControllerTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/notification/FeedbackEmailServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/notification/NotificationFeedbackServiceTest.java
Due: backend:test, backend:build

Fixed an wrong calculation in license service.
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleLicenseService.java
Due: backend:test, backend:build

Add unit tests for groups and OUs in frontend
  frontend/src/app/pages/security-section/organizational-units/organizational-units.spec.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.spec.ts
  frontend/src/app/testing/services/group-service.spec.ts
  frontend/src/app/testing/services/org-unit-service.spec.ts
Due: frontend:build

Add unit tests for app passwords frontend
  frontend/src/app/pages/security-section/app-passwords/app-passwords.spec.ts
  frontend/src/app/testing/services/app-password-service.spec.ts
Due: frontend:build

Add unit tests for password settings frontend
  frontend/src/app/pages/security-section/password-settings/password-settings.spec.ts
  frontend/src/app/testing/services/password-settings-service.spec.ts
Due: frontend:build

Add unit tests for password settings frontend
  frontend/src/app/pages/security-section/password-settings/password-settings.spec.ts
Due: frontend:build

Add unit tests for notifications and dns frontend
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.spec.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.spec.ts
  frontend/src/app/testing/services/dismissed-notification-service.spec.ts
  frontend/src/app/testing/services/dns-service.spec.ts
  frontend/src/app/testing/services/domain-service.spec.ts
  frontend/src/app/testing/services/notification-feedback-service.spec.ts
  frontend/src/app/testing/services/notification-service.spec.ts
Due: frontend:build

Add frontend unit tests for feedback
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.spec.ts
  frontend/src/app/testing/services/notification-feedback-service.spec.ts
Due: frontend:build

add frontend unit tests for preferences
  frontend/src/app/pages/control-section/security-preferences/security-preferences.spec.ts
  frontend/src/app/testing/services/security-preferences-facade.spec.ts
  frontend/src/app/testing/services/security-preferences-service.spec.ts
Due: frontend:build

Added the mobile style to the dashboard, users page, shared drives page and the devices pages.
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/app.css
  frontend/src/app/components/page-content-wrapper/page-content-wrapper.css
  frontend/src/app/components/page-content-wrapper/page-content-wrapper.html
  frontend/src/app/components/page-content-wrapper/page-content-wrapper.spec.ts
  frontend/src/app/components/page-content-wrapper/page-content-wrapper.ts
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-warnings/page-warnings-item/page-warnings-item.html
  frontend/src/app/components/page-warnings/page-warnings.html
  frontend/src/app/components/security-score-detail/security-score-detail.html
  frontend/src/app/navbar/navbar.css
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/home/home.ts
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/shared/AppIcons.ts
  frontend/src/styles.css
Due: backend:test, backend:build, frontend:build

Added some fixes after merging with main.
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
Due: backend:test, backend:build, frontend:build

Fixed the table layout for the users and the devices.
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
Due: frontend:build

Added a new component for the pagination of each page, added the mobile layout to the app-access page.
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/pagination-bar/pagination-bar.css
  frontend/src/app/components/pagination-bar/pagination-bar.html
  frontend/src/app/components/pagination-bar/pagination-bar.ts
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/styles.css
Due: frontend:build

Added mobile resposiveness to all my pages, changed the text size and style of items to fit better in a mobile environment.
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicenseOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicensePageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/MfaStats.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleLicenseService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleLicenseCacheService.java
  frontend/public/i18n/en.json
  frontend/src/app/app.css
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-warnings/page-warnings.html
  frontend/src/app/components/pagination-bar/pagination-bar.html
  frontend/src/app/components/section-top-card/section-top-card.css
  frontend/src/app/components/section-top-card/section-top-card.html
  frontend/src/app/models/licenses/LicenseOverviewResponse.ts
  frontend/src/app/models/licenses/LicensePageResponse.ts
  frontend/src/app/models/licenses/MfaStats.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/control-section/licenses/licenses.html
  frontend/src/app/pages/control-section/licenses/licenses.ts
  frontend/src/app/pages/forbidden/forbidden.html
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/server-error/server-error.html
  frontend/src/app/pages/teamleader-access-denied/teamleader-access-denied.html
Due: backend:test, backend:build, frontend:build

Path conditions:
  backend:test: any of: api/**/*, .gitlab-ci.yml
  backend:build: any of: api/**/*, .gitlab-ci.yml
  frontend:build: any of: frontend/**/*, .gitlab-ci.yml
