Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

.gitlab-ci.yml:

stages: [test, build]

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B test
  tags:
    - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
      - api/target/*.jar
    expire_in: 1 week
  tags:
    - docker

frontend:build:
  stage: build
  image: node:20-alpine
  rules:
    - changes:
        - frontend/**/*
        - .gitlab-ci.yml
  script:
    - cd frontend
    - npm config set fetch-retries 5
    - npm config set fetch-retry-mintimeout 20000
    - npm config set fetch-retry-maxtimeout 120000
    - npm ci
    - npm run build
  artifacts:
    when: always
    paths:
      - frontend/dist/
    expire_in: 1 week
  tags:
    - docker

Add JaCoCo to check backend test coverage
  api/pom.xml
Due: backend:test, backend:build

Add integration tests for repositories
  api/pom.xml
  api/src/test/java/com/cloudmen/cloudguard/integration/repository/AbstractRepositoryIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/repository/NotificationFeedbackRepositoryIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/repository/NotificationInstanceRepositoryIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/repository/OrganizationRepositoryIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/repository/UserRepositoryIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/repository/UserSecurityPreferenceRepositoryIT.java
Due: backend:test, backend:build

Add http level integration testing using WireMock
  api/pom.xml
  api/src/test/java/com/cloudmen/cloudguard/integration/google/GoogleDirectoryRolesWireMockIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/google/GoogleDirectoryUsersListWireMockIT.java
  api/src/test/resources/contracts/google-directory-role-assignments-list.json
  api/src/test/resources/contracts/google-directory-roles-list.json
  api/src/test/resources/contracts/google-directory-users-list-empty.json
  api/src/test/resources/contracts/google-directory-users-list-no-thumbnail.json
  api/src/test/resources/contracts/google-directory-users-list-page.json
Due: backend:test, backend:build

Add more unit tests
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleUserMapperTest.java
  frontend/src/app/components/user-avatar/user-avatar.spec.ts
  frontend/src/app/components/user-decision-dialog/user-decision-dialog.spec.ts
  frontend/src/app/pages/contact/contact.spec.ts
Due: backend:test, backend:build, frontend:build

Add integration + cypress testing for contact page
  api/src/main/java/com/cloudmen/cloudguard/configuration/WebConfig.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/ContactControllerIT.java
  cypress/e2e/contact.cy.js
Due: backend:test, backend:build

Change section mobile-devices to devices
  api/src/main/java/com/cloudmen/cloudguard/service/device/DeviceComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/PreferenceToNotificationMapping.java
  frontend/src/app/models/preferences/section-preference-config.ts
  frontend/src/app/pages/security-section/devices/devices.ts
Due: backend:test, backend:build, frontend:build

Add migration
  api/src/main/resources/db/migration/V2__rename_mobile_devices_preference_section.sql
Due: backend:test, backend:build

Update tests
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleDeviceServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/preference/PreferenceToNotificationMappingTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/preference/SecurityPreferenceScoreSupportTest.java
Due: backend:test, backend:build

Removed the security prefs from the security score and the breakdown.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupSettingsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/DeviceComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/GoogleDeviceMapper.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/drives/DrivesComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/drives/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/oauth/OAuthComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/users/GoogleUserMapper.java
  api/src/main/java/com/cloudmen/cloudguard/service/users/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/users/UsersComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleDeviceControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleGroupsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleDeviceServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethodsSecurityScoreTest.java
  frontend/src/app/components/security-score-detail/security-score-detail.html
  frontend/src/app/components/security-score-detail/security-score-detail.ts
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/services/security-score-detail.service.ts
Due: backend:test, backend:build, frontend:build

Changed the security score and breakdown for the devices.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/DeviceComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/GoogleDeviceMapper.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/main/resources/messages_nl.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleDeviceServiceTest.java
Due: backend:test, backend:build

Changed the security score to not include the disabled.
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/device/DeviceComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/drives/DrivesComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/oauth/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/oauth/OAuthComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/service/users/UsersComplianceScorer.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/PasswordSettingsServiceTest.java
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
Due: backend:test, backend:build, frontend:build

Fixed the tests after the changes.
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleDeviceControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AppPasswordsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleDeviceServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleGroupsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleOAuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleSharedDriveServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleUsersServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/PasswordSettingsServiceTest.java
Due: backend:test, backend:build

Add javadoc to groups
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleGroupsController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/CachedGroupItem.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupSettingsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
Due: backend:test, backend:build

Add javadoc to OU policies and app passwords
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOrgUnitsController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/UserAppPasswordsDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitNodeDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/password/OrgUnit2SvDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/policy/PolicyApiCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOrgUnitService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOrgUnitCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/PolicyApiCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromeExtensionPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromePolicyApiService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/MobileManagementPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyAggregator.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
Due: backend:test, backend:build

Changed the releaseplans to not have inbedded word documents.
  docs/Releaseplan_CloudGuard_en.pdf
  docs/Releaseplan_CloudGuard_nl.pdf
Due: none

Add javadoc
  api/src/main/java/com/cloudmen/cloudguard/configuration/NotificationProjectionProperties.java
  api/src/main/java/com/cloudmen/cloudguard/configuration/SolvedNotificationCleanupProperties.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
Due: backend:test, backend:build

Added the full responsiveness of the account manager pages. Added the pictureUrl to the denied users and having some translations to be corrected.
  api/src/main/java/com/cloudmen/cloudguard/dto/users/DeniedUser.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
  frontend/public/i18n/en.json
  frontend/src/app/models/users/DeniedUser.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-organizations/accounts-manager-organizations.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-requests/accounts-manager-requests-table/accounts-manager-requests-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-requests/accounts-manager-requests.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-requests/accounts-manager-requests.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Fixed readme with correct Release Plan naming.
  README.md
Due: none

Send users a registration confirmation email
  api/src/main/java/com/cloudmen/cloudguard/service/AccessRequestEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
  api/src/main/resources/application.properties
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
Due: backend:test, backend:build

Fix error and update tests
  api/src/main/java/com/cloudmen/cloudguard/service/AccessRequestEmailService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AccessRequestEmailServiceTest.java
Due: backend:test, backend:build

Add translations
  api/src/main/java/com/cloudmen/cloudguard/service/AccessRequestEmailService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
Due: backend:test, backend:build

Send users an accepted request confirmation email
  api/src/main/java/com/cloudmen/cloudguard/service/AccessRequestEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
Due: backend:test, backend:build

Update tests
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AccessRequestEmailServiceTest.java
Due: backend:test, backend:build

Update content of emails
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
Due: backend:test, backend:build
