Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B test
  tags:
  - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
    - api/target/*.jar
    expire_in: 1 week
  tags:
  - docker

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend
  - npm config set fetch-retries 5
  - npm config set fetch-retry-mintimeout 20000
  - npm config set fetch-retry-maxtimeout 120000
  - npm ci
  - npm run build
  artifacts:
    when: always
    paths:
    - frontend/dist/
    expire_in: 1 week
  tags:
  - docker

Added test.
  frontend/src/index.html
Due: frontend:build

New test for pipeline deploy stage.
  frontend/src/index.html
Due: frontend:build

Changed pipeline script.
  .gitlab-ci.yml
Due: backend:test, backend:build, frontend:build

Added new javadoc.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleSharedDriveController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleUsersController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/OrganizationController.java
Due: backend:test, backend:build

Changed pipeline script to actually pull the new changes.
  .gitlab-ci.yml
Due: backend:test, backend:build, frontend:build

Added some javadoc.
  api/src/main/java/com/cloudmen/cloudguard/controller/OrganizationController.java
Due: backend:test, backend:build

Fix for pipeline, usage of artifacts.
  .gitlab-ci.yml
Due: backend:test, backend:build, frontend:build

Added some more javadoc.
  api/src/main/java/com/cloudmen/cloudguard/controller/OrganizationController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/ReportController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/TeamleaderAccessController.java
Due: backend:test, backend:build

Changed the dockerfile to not build, because pipeline does that. And changed the backend test route to see if this changes.
  api/src/main/java/com/cloudmen/cloudguard/controller/TestController.java
  frontend/Dockerfile
Due: backend:test, backend:build, frontend:build

More javadoc.
  api/src/main/java/com/cloudmen/cloudguard/controller/TestController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
Due: backend:test, backend:build

Fixed for backend and frontend.
  .gitlab-ci.yml
  api/Dockerfile
  frontend/Dockerfile
Due: backend:test, backend:build, frontend:build

More javadoc.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
Due: backend:test, backend:build

Changed .dockerignore.
  api/.dockerignore
Due: backend:test, backend:build

More javadoc.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
Due: backend:test, backend:build

Added fixes to return to working pipeline.
  .gitlab-ci.yml
  api/.dockerignore
  api/Dockerfile
  frontend/Dockerfile
Due: backend:test, backend:build, frontend:build

Finished the controller javadoc and started with the DTO's, finishing the dashboard package.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/WorkspaceSetupController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dashboard/DashboardOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dashboard/DashboardPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dashboard/DashboardScores.java
Due: backend:test, backend:build

Added javadoc for the DTO/devices.
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DevicePageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceStatus.java
Due: backend:test, backend:build

Change default device type to 'all'
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
Due: backend:test, backend:build

Update unit test
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleDeviceServiceTest.java
Due: backend:test, backend:build

Added javadoc for the DTO/drives.
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveBasicDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDrivePageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveSecurityData.java
Due: backend:test, backend:build

Add query param only when device type filter is real
  frontend/src/app/services/device-service.ts
Due: frontend:build

Do the same for device status
  frontend/src/app/models/devices/DeviceStatus.ts
  frontend/src/app/services/device-service.ts
Due: frontend:build

Removed the demo data and some unused functions.
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/DriveMetrics.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOrgUnitService.java
  api/src/main/java/com/cloudmen/cloudguard/service/JwtService.java
  api/src/main/java/com/cloudmen/cloudguard/service/WorkspaceSetupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleSharedDriveCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromeExtensionPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/SecurityReportEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderCompanyService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AppPasswordControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleSharedDriveControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AppPasswordsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/DashboardServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/JwtServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/report/PdfReportServiceTest.java
Due: backend:test, backend:build

Added javadoc to some files.
  api/src/main/java/com/cloudmen/cloudguard/configuration/WebConfig.java
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/CacheWarmupController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/DashboardController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleLicenseController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOAuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleSharedDriveController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/UserRole.java
Due: backend:test, backend:build

Added for google users start.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleUsersController.java
Due: backend:test, backend:build

Fixed so that the splash screen is not stuck on the first start of the application and on the callback after login.
  frontend/src/app/app.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/services/user-service.ts
  frontend/src/index.html
Due: frontend:build

Removed unused domain classes, and added javadoc to DTO/licenses
  api/src/main/java/com/cloudmen/cloudguard/domain/model/Client.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/Scan.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/SecurityCheck.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/SecurityCheckResult.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/DriveMetrics.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/InactiveUser.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicenseCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicenseOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicensePageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/licenses/LicenseType.java
Due: backend:test, backend:build

Move cloudmen-staff source of truth from frontend to backend
  api/src/main/java/com/cloudmen/cloudguard/controller/OrganizationController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/service/CloudguardStaffService.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Add cloudmen staff guard on account manager route and add flag in navbar and account manager table
  frontend/src/app/app.routes.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/guards/cloudmen-staff.guard.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.ts
  frontend/src/app/services/user-service.ts
Due: frontend:build

Path conditions:
  backend:test: any of: api/**/*, .gitlab-ci.yml
  backend:build: any of: api/**/*, .gitlab-ci.yml
  frontend:build: any of: frontend/**/*, .gitlab-ci.yml
