Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

.gitlab-ci.yml:

stages: [test, build]

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B test
  tags:
    - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
      - api/target/*.jar
    expire_in: 1 week
  tags:
    - docker

frontend:build:
  stage: build
  image: node:20-alpine
  rules:
    - changes:
        - frontend/**/*
        - .gitlab-ci.yml
  script:
    - cd frontend
    - npm config set fetch-retries 5
    - npm config set fetch-retry-mintimeout 20000
    - npm config set fetch-retry-maxtimeout 120000
    - npm ci
    - npm run build
  artifacts:
    when: always
    paths:
      - frontend/dist/
    expire_in: 1 week
  tags:
    - docker

Added the functionality of the deny list and reaccepting the user for requests.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/DatabaseUsersResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/DeniedUser.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDenyRequest.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/components/reset-denial-dialog/reset-denial-dialog.css
  frontend/src/app/components/reset-denial-dialog/reset-denial-dialog.html
  frontend/src/app/components/reset-denial-dialog/reset-denial-dialog.spec.ts
  frontend/src/app/components/reset-denial-dialog/reset-denial-dialog.ts
  frontend/src/app/components/user-decision-dialog/user-decision-dialog.html
  frontend/src/app/components/user-decision-dialog/user-decision-dialog.ts
  frontend/src/app/models/DecisionResult.ts
  frontend/src/app/models/users/DatabaseUsersResponse.ts
  frontend/src/app/models/users/DeniedUser.ts
  frontend/src/app/models/users/ResetDenialResult.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/models/users/UserDenyRequest.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-requests/accounts-manager-requests.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/services/user-service.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Add unit test
  api/src/test/java/com/cloudmen/cloudguard/unit/service/teamleader/TeamleaderCompanyServiceTest.java
Due: backend:test, backend:build

Changed the users table in the account manager to have the reason for change in there.
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/user-decision-dialog/user-decision-dialog.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/shared/UtilityMethods.ts
Due: backend:test, backend:build, frontend:build

Changed the updateRole to remove the role requested when the user has gotten roles.é
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
Due: backend:test, backend:build

Change Policy API cache service to use abstract cache service and caffeine
  api/src/main/java/com/cloudmen/cloudguard/dto/policy/PolicyApiCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/AbstractGoogleWorkspaceCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/PolicyApiCacheService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/PasswordSettingsServiceTest.java
Due: backend:test, backend:build

Add OU policies session service to reduce refetches
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
  frontend/src/app/services/org-unit-policies-session.service.ts
Due: backend:test, backend:build, frontend:build

Added an status to the user, with inactive state and changed the access guard to be better and check first local user stuff and then cloudguard.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserMapper.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AuthControllerIT.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/access/access.guard.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/components/deactivate-user-dialog/deactivate-user-dialog.css
  frontend/src/app/components/deactivate-user-dialog/deactivate-user-dialog.html
  frontend/src/app/components/deactivate-user-dialog/deactivate-user-dialog.spec.ts
  frontend/src/app/components/deactivate-user-dialog/deactivate-user-dialog.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/pages/inactive/inactive.css
  frontend/src/app/pages/inactive/inactive.html
  frontend/src/app/pages/inactive/inactive.spec.ts
  frontend/src/app/pages/inactive/inactive.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Turn off hibernate queries from showing
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Added a contact page with a feature to send an email to cloudmen.
  api/src/main/java/com/cloudmen/cloudguard/controller/ContactController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/contact/ContactMessageDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/ContactEmailService.java
  api/src/main/resources/application.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/app.routes.ts
  frontend/src/app/pages/contact/contact.css
  frontend/src/app/pages/contact/contact.html
  frontend/src/app/pages/contact/contact.spec.ts
  frontend/src/app/pages/contact/contact.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Added a contact page, that sends an email to cloudmen.
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/contact/contact.html
  frontend/src/app/pages/login/login.ts
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Add teamleader company id to organization table
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/domain/model/Organization.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
  api/src/main/resources/db/v1__init_schema.sql
Due: backend:test, backend:build

Changed pipeline script voor deployment.
  .gitlab-ci.yml
Due: backend:test, backend:build, frontend:build

Add migration and tests
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
  api/src/main/resources/application.properties
  api/src/main/resources/db/migration/V1__add_teamleader_company_id_to_organizations.sql
  api/src/test/java/com/cloudmen/cloudguard/unit/service/teamleader/TeamleaderAccessServiceTest.java
Due: backend:test, backend:build

Changed position of contact page in navbar.
  frontend/src/app/navbar/navbar.ts
Due: frontend:build

Add nightly integrity check for companyId
  api/src/main/java/com/cloudmen/cloudguard/repository/OrganizationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderStoredCompanyIntegrityScheduler.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Aanpassen van alle error en request paginas, door het gebruik van een aantal componenten, nu veel files zijn veel kleiner en aanpassingen alleen nodig op 1 enkele plaats.
  api/src/main/java/com/cloudmen/cloudguard/service/AccessRequestEmailService.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/status-error-card/status-error-card.html
  frontend/src/app/components/status-error-card/status-error-card.ts
  frontend/src/app/components/status-layout/status-layout.html
  frontend/src/app/components/status-request-card/status-request-card.html
  frontend/src/app/components/status-request-card/status-request-card.ts
  frontend/src/app/pages/access-denied/access-denied.html
  frontend/src/app/pages/access-denied/access-denied.ts
  frontend/src/app/pages/denied/denied.html
  frontend/src/app/pages/denied/denied.ts
  frontend/src/app/pages/forbidden/forbidden.html
  frontend/src/app/pages/forbidden/forbidden.ts
  frontend/src/app/pages/inactive/inactive.html
  frontend/src/app/pages/inactive/inactive.ts
  frontend/src/app/pages/login/login.ts
  frontend/src/app/pages/no-organization/no-organization.html
  frontend/src/app/pages/no-organization/no-organization.ts
  frontend/src/app/pages/page-access-denied/page-access-denied.html
  frontend/src/app/pages/page-access-denied/page-access-denied.ts
  frontend/src/app/pages/request-access/request-access.html
  frontend/src/app/pages/request-access/request-access.ts
  frontend/src/app/pages/request-role/request-role.html
  frontend/src/app/pages/request-role/request-role.ts
  frontend/src/app/pages/teamleader-access-denied/teamleader-access-denied.html
  frontend/src/app/pages/teamleader-access-denied/teamleader-access-denied.ts
  frontend/src/app/pages/workspace-setup/workspace-setup.ts
Due: backend:test, backend:build, frontend:build

Fixed the spacing of the text.
  frontend/src/app/components/reset-denial-dialog/reset-denial-dialog.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Fix tests
  api/src/test/java/com/cloudmen/cloudguard/unit/service/DashboardServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleGroupsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleOAuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleSharedDriveServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleUsersServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/PasswordSettingsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/report/PdfReportServiceTest.java
  frontend/src/app/auth/custom-auth-service.spec.ts
  frontend/src/app/components/access-decision-dialog/access-decision-dialog.spec.ts
  frontend/src/app/components/deactivate-user-dialog/deactivate-user-dialog.spec.ts
  frontend/src/app/components/reset-denial-dialog/reset-denial-dialog.spec.ts
  frontend/src/app/components/user-decision-dialog/user-decision-dialog.spec.ts
  frontend/src/app/guards/role.guard.spec.ts
  frontend/src/app/pages/contact/contact.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-requests/accounts-manager-requests-table/accounts-manager-requests-table.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-requests/accounts-manager-requests.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.spec.ts
  frontend/src/app/pages/control-section/licenses/licenses.int.spec.ts
  frontend/src/app/pages/inactive/inactive.spec.ts
  frontend/src/app/pages/request-role/request-role.spec.ts
  frontend/src/app/pages/security-section/devices/devices.int.spec.ts
  frontend/src/app/pages/security-section/organizational-units/organizational-units.spec.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.int.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.int.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.spec.ts
  frontend/src/app/testing/services/app-password-service.spec.ts
  frontend/src/app/testing/services/user-service.int.spec.ts
  frontend/src/app/testing/services/user-service.spec.ts
  frontend/src/app/testing/transloco-testing.ts
Due: backend:test, backend:build, frontend:build

Added a filter for the users status in the account manager.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
  frontend/src/app/app.ts
  frontend/src/app/auth/callback/callback.ts
  frontend/src/app/components/splash-screen/splash-screen.ts
Due: backend:test, backend:build, frontend:build

Added a filter for the status in the account manager page.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/user/UserService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/CloudguardStaffUserControllerIT.java
  frontend/src/app/models/account/AccountSectionType.ts
  frontend/src/app/models/account/AccountStatus.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-organizations/accounts-manager-organizations.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Fix mismatch colors in security score details
  frontend/src/app/components/security-score-detail/security-score-detail.ts
Due: frontend:build

Add animation to dashboard security gauge
  frontend/src/app/components/security-gauge/security-gauge.ts
Due: frontend:build

Change placement of account management buttons
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.ts
Due: frontend:build

Use the correct admin console links
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-header/page-header.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: frontend:build

Added an env-vars file for seeing what needs to be added in the .env file.
  api/env-vars
Due: backend:test, backend:build

Remove flag from language bar
  frontend/src/app/components/language-bar/language-bar.html
  frontend/src/app/components/language-bar/language-bar.ts
Due: frontend:build

Add a confirmation dialog before a user is allowed access to CloudGuard
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/user-decision-dialog/user-decision-dialog.html
  frontend/src/app/components/user-decision-dialog/user-decision-dialog.ts
Due: frontend:build

Add chat button to help & contact page
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/contact/contact.html
  frontend/src/app/pages/contact/contact.ts
Due: frontend:build

Add profile pictures for users list in users-section and account manager
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/users/GoogleUserMapper.java
  api/src/main/java/com/cloudmen/cloudguard/service/users/GoogleUsersService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleUsersServiceTest.java
  frontend/src/app/components/user-avatar/user-avatar.html
  frontend/src/app/components/user-avatar/user-avatar.ts
  frontend/src/app/models/users/UserOrgDetails.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-denied/accounts-manager-denied-table/accounts-manager-denied-table.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-requests/accounts-manager-requests-table/accounts-manager-requests-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-requests/accounts-manager-requests-table/accounts-manager-requests-table.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.int.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: backend:test, backend:build, frontend:build

Changed both the docker-compose.yml's to have the sensitive data be in .env files.
  .gitignore
  docker-compose.yml
  env-vars
  traefik/docker-compose.yml
  traefik/env-vars
Due: none

Saved the changes for the docker-files.
  docker-compose.yml
Due: none

Added the releaseplan to the /docs.
  docs/Releaseplan CloudGuard.pdf
Due: none

Added a full readme.md with all details of the project.
  README.md
Due: none

Added the releaseplan in english.
  docs/Releaseplan CloudGuard.pdf
  docs/Releaseplan_CloudGuard_en.pdf
  docs/Releaseplan_CloudGuard_nl.pdf
Due: none
