Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

.gitlab-ci.yml:

stages: [test, build]

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B test
  tags:
    - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
      - api/target/*.jar
    expire_in: 1 week
  tags:
    - docker

frontend:build:
  stage: build
  image: node:20-alpine
  rules:
    - changes:
        - frontend/**/*
        - .gitlab-ci.yml
  script:
    - cd frontend
    - npm config set fetch-retries 5
    - npm config set fetch-retry-mintimeout 20000
    - npm config set fetch-retry-maxtimeout 120000
    - npm ci
    - npm run build
  artifacts:
    when: always
    paths:
      - frontend/dist/
    expire_in: 1 week
  tags:
    - docker

Add api error handling for frontend groups
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
Due: frontend:build

Changed the ADMIN to be in a seperate helper class.
  api/src/test/java/com/cloudmen/cloudguard/service/AppPasswordsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleDomainServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleGroupsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleUsersServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/PasswordSettingsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/utility/GlobalTestHelper.java
Due: backend:test, backend:build

Add error handling to organizational units
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOrgUnitCacheService.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.spec.ts
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
Due: backend:test, backend:build, frontend:build

Add error handling to app passwords
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.spec.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
Due: backend:test, backend:build, frontend:build

Add error handling to password settings
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.spec.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
Due: frontend:build

Add error handling to notification and feedback
  api/src/main/java/com/cloudmen/cloudguard/exception/NotificationFeedbackValidationException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/FeedbackEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationFeedbackService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/SecurityReportEmailService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  api/src/test/java/com/cloudmen/cloudguard/service/notification/FeedbackEmailServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/notification/NotificationFeedbackServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.spec.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
Due: backend:test, backend:build, frontend:build

Changed the dashboard security items to fit better for mobile and changed the licenses to fit better for desktop.
  frontend/src/app/components/security-component/security-component.html
  frontend/src/app/pages/control-section/licenses/licenses.html
  frontend/src/app/pages/home/home.html
Due: frontend:build

Fix merge problems
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
Due: backend:test, backend:build, frontend:build

Add error handling for security preferences
  api/src/main/java/com/cloudmen/cloudguard/exception/SecurityPreferenceValidationException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/UserSecurityPreferenceService.java
  api/src/main/resources/messages_nl.properties
  api/src/test/java/com/cloudmen/cloudguard/service/preference/UserSecurityPreferenceServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/security-preferences/security-preferences.html
  frontend/src/app/pages/control-section/security-preferences/security-preferences.spec.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
  frontend/src/app/services/security-preferences-facade.ts
  frontend/src/app/testing/services/security-preferences-facade.spec.ts
Due: backend:test, backend:build, frontend:build

Add error handling for jwt tokens
  api/src/main/java/com/cloudmen/cloudguard/interceptor/AuthInterceptor.java
  api/src/main/java/com/cloudmen/cloudguard/service/JwtService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
Due: backend:test, backend:build

Improve and use custom exception
  api/src/main/java/com/cloudmen/cloudguard/exception/GoogleWorkspaceSyncException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/service/AdminSecurityKeysService.java
  api/src/main/java/com/cloudmen/cloudguard/service/SupabaseTokenService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleDomainCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/PolicyApiCacheService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/src/app/interceptor/error.interceptor.ts
Due: backend:test, backend:build, frontend:build

Improve error handling messages
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/TeamleaderExceptionHandler.java
  api/src/main/resources/application.properties
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
Due: backend:test, backend:build

Added unit tests for users and shared drives service.
  api/src/test/java/com/cloudmen/cloudguard/service/AppPasswordsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleDomainServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleGroupsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleSharedDriveServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleUsersServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/PasswordSettingsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/utility/GlobalTestHelper.java
  api/src/test/java/com/cloudmen/cloudguard/utility/GoogleSharedDriveTestHelper.java
  api/src/test/java/com/cloudmen/cloudguard/utility/GoogleUsersTestHelper.java
  frontend/src/app/pages/control-section/licenses/licenses.html
Due: backend:test, backend:build, frontend:build

Make groups section responsive and update paging design
  frontend/src/app/components/pagination-bar/pagination-bar.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/users-groups.html
Due: frontend:build

Added unit tests for devices, oAuth and licenses services.
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleDeviceServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleLicenseServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleOAuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/GoogleSharedDriveServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/utility/GoogleDeviceTestHelper.java
  api/src/test/java/com/cloudmen/cloudguard/utility/GoogleLicenseTestHelper.java
  api/src/test/java/com/cloudmen/cloudguard/utility/GoogleOAuthTestHelper.java
Due: backend:test, backend:build

Make OU and app passwords responsive
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
Due: frontend:build

Keep navbar collapsable for wider screens
  frontend/src/app/app.css
  frontend/src/app/components/page-content-wrapper/page-content-wrapper.html
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/users-groups/users-groups.html
Due: frontend:build

Added tests for dashboard and pdf report.
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/test/java/com/cloudmen/cloudguard/service/DashboardServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/UserServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/service/report/PdfReportServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/utility/DashboardTestHelper.java
  api/src/test/java/com/cloudmen/cloudguard/utility/PdfReportTestHelper.java
  api/src/test/java/com/cloudmen/cloudguard/utility/UserTestHelper.java
  api/src/test/resources/static/cover-background-2.png
  api/src/test/resources/static/cover-background.png
  api/src/test/resources/static/logo.png
Due: backend:test, backend:build

Make domain&dns and security preferences responsive
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/filter-chips/filter-chips.html
  frontend/src/app/components/filter-chips/filter-chips.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/security-preferences/security-preferences.html
  frontend/src/app/pages/control-section/security-preferences/security-preferences.spec.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.spec.ts
Due: frontend:build

Make password settings responsive
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.spec.ts
Due: frontend:build

Use 2 columns for narrower screens in security preferences
  frontend/src/app/pages/control-section/security-preferences/security-preferences.html
Due: frontend:build

Change table breakpoint to xl
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
Due: frontend:build

Fixed tests after merging.
  api/src/main/java/com/cloudmen/cloudguard/service/report/SecurityReportEmailService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/helper/GoogleOAuthTestHelper.java
  api/src/test/java/com/cloudmen/cloudguard/unit/helper/JwtTestHelper.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleOAuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/JwtServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/PasswordSettingsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/SupabaseTokenServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/report/SecurityReportEmailServiceTest.java
Due: backend:test, backend:build

Added some more tests after coverage check.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/pagination-bar/pagination-bar.spec.ts
  frontend/src/app/components/security-score-detail/security-score-detail.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.spec.ts
  frontend/src/app/testing/services/security-score-detail-service.spec.ts
Due: frontend:build

Add missing OU unit tests
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleOrgUnitServiceTest.java
Due: backend:test, backend:build

Add integration tests for google groups
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/GoogleGroupsControllerIT.java
  api/src/test/resources/application-test.properties
Due: backend:test, backend:build

Added tests.
  frontend/package.json
  frontend/src/app/components/filter-chips/filter-chips.int.spec.ts
  frontend/src/app/components/filter-chips/filter-chips.spec.ts
  frontend/src/app/components/pagination-bar/pagination-bar.int.spec.ts
  frontend/src/app/components/security-score-detail/security-score-detail.int.spec.ts
  frontend/src/app/pages/control-section/licenses/licenses.int.spec.ts
  frontend/src/app/pages/home/home.int.spec.ts
  frontend/src/app/pages/login/login.spec.ts
  frontend/src/app/pages/security-section/app-access/app-access.int.spec.ts
  frontend/src/app/pages/security-section/devices/devices.int.spec.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.int.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.int.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.int.spec.ts
  frontend/src/app/services/user-service.ts
  frontend/src/app/services/warmup-cache-service.ts
  frontend/src/app/testing/services/dashboard-service.int.spec.ts
  frontend/src/app/testing/services/device-service.int.spec.ts
  frontend/src/app/testing/services/drive-service.int.spec.ts
  frontend/src/app/testing/services/license-service.int.spec.ts
  frontend/src/app/testing/services/o-auth-service.int.spec.ts
  frontend/src/app/testing/services/report-service.int.spec.ts
  frontend/src/app/testing/services/security-score-detail-service.int.spec.ts
  frontend/src/app/testing/services/user-service.int.spec.ts
  frontend/src/app/testing/services/user-service.spec.ts
  frontend/src/app/testing/services/warmup-cache-service.int.spec.ts
  frontend/src/app/testing/services/warmup-cache-service.spec.ts
  frontend/src/app/testing/transloco-testing.ts
Due: frontend:build

Add integration tests for all security components
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/AppPasswordControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/DnsRecordsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/GoogleDomainControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/GoogleOrgUnitsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/PasswordSettingsControllerIT.java
Due: backend:test, backend:build

Add integration tests for control section
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/DismissedNotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/NotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/NotificationFeedbackControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/UserSecurityPreferenceControllerIT.java
Due: backend:test, backend:build

Improve unit and integration tests
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/DismissedNotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/NotificationFeedbackControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/controller/UserSecurityPreferenceControllerIT.java
  frontend/package-lock.json
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.spec.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.spec.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/testing/services/dismissed-notification-service.spec.ts
  frontend/src/app/testing/services/notification-service.spec.ts
Due: backend:test, backend:build, frontend:build

Added integration tests to the frontend and backend.
  api/src/main/java/com/cloudmen/cloudguard/controller/ReportController.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/BiannualReportScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/AuthServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/DashboardServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleDeviceServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleLicenseServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleOAuthServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleSharedDriveServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleUsersServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/JwtServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/SupabaseTokenServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/UserServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/report/PdfReportServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/report/SecurityReportEmailServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderAccessServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderCompanyServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/report/PdfReportServiceTest.java
  frontend/src/app/pages/security-section/users-groups/users-groups.int.spec.ts
Due: backend:test, backend:build, frontend:build

Added integrations tests for the services in the backend.
  api/src/test/java/com/cloudmen/cloudguard/integration/service/AuthServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/DashboardServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleDeviceServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleLicenseServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleOAuthServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleSharedDriveServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleUsersServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/JwtServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/SupabaseTokenServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/UserServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/report/PdfReportServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/report/SecurityReportEmailServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderAccessServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderCompanyServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderServiceIntegrationTest.java
Due: backend:test, backend:build

Fixed the service integration tests.
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleDeviceServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleOAuthServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleSharedDriveServiceIntegrationTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleUsersServiceIntegrationTest.java
Due: backend:test, backend:build

Added integration tests for the controllers in the backend.
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AppPasswordControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AuthControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/DashboardControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/DismissedNotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/DnsRecordsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleDeviceControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleDomainControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleGroupsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleLicenseControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleOAuthControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleOrgUnitsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleSharedDriveControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleUsersControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationFeedbackControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationFeedbackControllerTest.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/PasswordSettingsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/ReportControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/TeamleaderAccessControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/UserControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/UserSecurityPreferenceControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/AuthServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/DashboardServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleDeviceServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleLicenseServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleOAuthServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleSharedDriveServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleUsersServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/JwtServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/SupabaseTokenServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/UserServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/report/PdfReportServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/report/SecurityReportEmailServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderAccessServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderCompanyServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderServiceIT.java
Due: backend:test, backend:build

Changed the teamleader company service to get the company based on the domain with the custom domain field or the primary email.
  api/src/main/java/com/cloudmen/cloudguard/controller/TestController.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderCompanyService.java
  api/src/main/resources/application.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/teamleader/TeamleaderAccessServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/teamleader/TeamleaderCompanyServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
Due: backend:test, backend:build, frontend:build

Link users and security preferences to organizations
  api/src/main/java/com/cloudmen/cloudguard/domain/model/Organization.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/preference/UserSecurityPreference.java
  api/src/main/java/com/cloudmen/cloudguard/repository/OrganizationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserSecurityPreferenceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/security/WorkspaceIdentityClaims.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/UserSecurityPreferenceService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
Due: backend:test, backend:build

Add organization name to user's profile
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/UserServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/models/users/User.ts
  frontend/src/app/pages/profile/profile.html
Due: backend:test, backend:build, frontend:build

Added user roles to the user object in the database, the roles are for each section of the application.
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/UserRole.java
  frontend/src/app/auth/auth.guard.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/components/language-bar/language-bar.ts
Due: backend:test, backend:build, frontend:build
