Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B test
  tags:
  - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
    - api/target/*.jar
    expire_in: 1 week
  tags:
  - docker

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend
  - npm config set fetch-retries 5
  - npm config set fetch-retry-mintimeout 20000
  - npm config set fetch-retry-maxtimeout 120000
  - npm ci
  - npm run build
  artifacts:
    when: always
    paths:
    - frontend/dist/
    expire_in: 1 week
  tags:
  - docker

Group dns record notifications into one card
  frontend/src/app/services/notification-service.ts
Due: frontend:build

Added code to extract the correct custom field from teamleader focus.
  api/src/main/java/com/cloudmen/cloudguard/controller/TeamleaderAccessController.java
  api/src/main/java/com/cloudmen/cloudguard/service/TeamleaderAccessService.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Added the functionality with an access guard in the frontend, and added frontend caching so the teamleader api does not get new request for each page change.
  api/src/main/java/com/cloudmen/cloudguard/controller/TeamleaderAccessController.java
  api/src/main/java/com/cloudmen/cloudguard/service/TeamleaderAccessService.java
  frontend/src/app/access/access.guard.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/pages/teamleader-test/teamleader-test.css
  frontend/src/app/pages/teamleader-test/teamleader-test.html
  frontend/src/app/pages/teamleader-test/teamleader-test.spec.ts
  frontend/src/app/pages/teamleader-test/teamleader-test.ts
  frontend/src/app/services/teamleader-service.ts
Due: backend:test, backend:build, frontend:build

Added the full dashboard with all the styles and the backend code to get the security scores of each security subject and the notifications count.
  api/src/main/java/com/cloudmen/cloudguard/controller/DashboardController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dashboard/DashboardOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dashboard/DashboardPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dashboard/DashboardScores.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/MobileDeviceOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/dns/DnsRecordResponseDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleMobileDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/NotificationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DateTimeConverter.java
  frontend/src/app/components/security-component/security-component.css
  frontend/src/app/components/security-component/security-component.html
  frontend/src/app/components/security-component/security-component.spec.ts
  frontend/src/app/components/security-component/security-component.ts
  frontend/src/app/components/security-gauge/security-gauge.css
  frontend/src/app/components/security-gauge/security-gauge.html
  frontend/src/app/components/security-gauge/security-gauge.spec.ts
  frontend/src/app/components/security-gauge/security-gauge.ts
  frontend/src/app/models/dashboard/DashboardOverviewResponse.ts
  frontend/src/app/models/dashboard/DashboardPageResponse.ts
  frontend/src/app/models/dashboard/DashboardScores.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/home/home.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/services/dashboard-service.ts
  frontend/src/app/services/dns-service.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Changed the name of the parsing method and added spacing.
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DateTimeConverter.java
Due: backend:test, backend:build

Changed the method to get rid of project warnings for billing connector.
  api/src/main/java/com/cloudmen/cloudguard/service/TeamleaderAccessService.java
Due: backend:test, backend:build

Added the sonar for frontend.
  frontend/.scannerwork/.sonar_lock
  frontend/.scannerwork/report-task.txt
  frontend/sonar-project.properties
Due: frontend:build

Changed some of my functions to be more readable and less complex.
  api/src/main/java/com/cloudmen/cloudguard/configuration/SecurityConfig.java
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleMobileDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOAuthController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/AggregatedAppDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/AppRiskLevel.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/DataAccessDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/OAuthCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/OAuthOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/OAuthPagedResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/RawUserToken.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oauth/ScopeCategory.java
  api/src/main/java/com/cloudmen/cloudguard/exceptions/CacheWarmupException.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleMobileDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/JwtService.java
  api/src/main/java/com/cloudmen/cloudguard/service/TeamleaderAccessService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleLicenseCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleMobileDeviceCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOAuthCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleSharedDriveCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleUsersCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/PolicyApiCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DateTimeConverter.java
Due: backend:test, backend:build

Changed the frontend code to remove unused imports and have some better code.
  api/src/main/java/com/cloudmen/cloudguard/configuration/SecurityConfig.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  frontend/.scannerwork/report-task.txt
  frontend/sonar-project.properties
  frontend/src/app/access/access.guard.ts
  frontend/src/app/app.config.ts
  frontend/src/app/app.ts
  frontend/src/app/auth/callback/callback.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/auth/login/login.ts
  frontend/src/app/components/log-out-dialog/log-out-dialog.ts
  frontend/src/app/components/security-component/security-component.ts
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/api-test/api-test.ts
  frontend/src/app/pages/control-section/licenses/licenses.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/pages/forbidden/forbidden.ts
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/api-service.ts
  frontend/src/app/services/user-service.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Split the teamleader access service to 3 seperate services, one for the general teamleader functions, one for the getting company details and then the service that deals with the access functions.
  api/src/main/java/com/cloudmen/cloudguard/controller/TeamleaderAccessController.java
  api/src/main/java/com/cloudmen/cloudguard/service/TeamleaderAccessService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderCompanyService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderService.java
Due: backend:test, backend:build

Add backend
  api/src/main/java/com/cloudmen/cloudguard/controller/NotificationFeedbackController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/feedback/NotificationFeedback.java
  api/src/main/java/com/cloudmen/cloudguard/domain/feedback/NotificationFeedbackRequest.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationFeedbackRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/NotificationFeedbackService.java
Due: backend:test, backend:build

Add frontend
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.css
  frontend/src/app/services/notification-feedback-service.ts
Due: frontend:build

Update frontend
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
Due: frontend:build

Add proper feedback form to frontend
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Add functional mark-as-resolved button and remove dead code
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/controller/NotificationFeedbackController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/ResolvedNotificationController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/feedback/ResolvedNotification.java
  api/src/main/java/com/cloudmen/cloudguard/domain/notifications/Notification.java
  api/src/main/java/com/cloudmen/cloudguard/domain/notifications/NotificationSeverity.java
  api/src/main/java/com/cloudmen/cloudguard/domain/notifications/NotificationStatus.java
  api/src/main/java/com/cloudmen/cloudguard/domain/notifications/NotificationUserState.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/CreateNotificationRequest.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationResponseDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationUserStateDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/ResolveNotificationRequest.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/ResolvedNotificationDto.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationUserStateRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/ResolvedNotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/scheduler/ResolvedNotificationCleanupScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/NotificationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationFeedbackService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/ResolvedNotificationService.java
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/services/resolved-notification-service.ts
Due: backend:test, backend:build, frontend:build

Add small change
  api/src/main/java/com/cloudmen/cloudguard/utility/ResolvedNotificationCleanupScheduler.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Add basic smtp
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/FeedbackEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationFeedbackService.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Add notification status
  api/src/main/java/com/cloudmen/cloudguard/controller/NotificationFeedbackController.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationFeedbackRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationFeedbackService.java
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/notification-feedback-service.ts
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Improve email layout
  api/src/main/java/com/cloudmen/cloudguard/service/notification/FeedbackEmailService.java
Due: backend:test, backend:build

Move notification aggregation to backend
  api/src/main/java/com/cloudmen/cloudguard/controller/NotificationController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationsResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Add info notifications
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
Due: backend:test, backend:build

Clean up code
  api/src/main/java/com/cloudmen/cloudguard/controller/NotificationFeedbackController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/ResolvedNotificationController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/feedback/NotificationFeedbackRequest.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/feedback/NotificationFeedback.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/feedback/ResolvedNotification.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationFeedbackRequest.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationFeedbackRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/ResolvedNotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/FeedbackEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationFeedbackService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/ResolvedNotificationService.java
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/notification-feedback-service.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/services/resolved-notification-service.ts
Due: backend:test, backend:build, frontend:build

Solve merge conflicts
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/controller/DashboardController.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/NotificationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Changed the teamleader tokens to use a cloud database to make it work with multiple users at a time;
  api/src/main/java/com/cloudmen/cloudguard/domain/model/TeamleaderCredential.java
  api/src/main/java/com/cloudmen/cloudguard/repository/TeamleaderCredentialRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/SupabaseTokenService.java
  api/src/main/java/com/cloudmen/cloudguard/service/TeamleaderAccessService.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Set real cloudmen email as recipient
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Fixed merge request.
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderService.java
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
Due: backend:test, backend:build, frontend:build

Fix angular json
  frontend/angular.json
  frontend/package-lock.json
Due: frontend:build

Changed the style of the warnings for the dashboard, users page and groups page.é
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
Due: frontend:build

Added a fix for tokens.
  api/src/main/java/com/cloudmen/cloudguard/service/SupabaseTokenService.java
Due: backend:test, backend:build

Separate interfaces from app-password service
  frontend/src/app/models/app-password/AppPassword.ts
  frontend/src/app/models/app-password/AppPasswordOverviewResponse.ts
  frontend/src/app/models/app-password/AppPasswordPageResponse.ts
  frontend/src/app/services/app-password-service.ts
Due: frontend:build

Move all interfaces to model folder
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/models/dns/DnsRecord.ts
  frontend/src/app/models/dns/DnsRecordResponse.ts
  frontend/src/app/models/domain/Domain.ts
  frontend/src/app/models/groups/GroupOrgDetail.ts
  frontend/src/app/models/notification/Notification.ts
  frontend/src/app/models/notification/NotificationsResponse.ts
  frontend/src/app/models/notification/ResolveNotificationRequest.ts
  frontend/src/app/models/notification/ResolvedNotification.ts
  frontend/src/app/models/org-unit/OrgUnitNodeDto.ts
  frontend/src/app/models/org-unit/OrgUnitPolicyDto.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/models/users/UserOrgDetails.ts
  frontend/src/app/models/users/UserOverviewResponse.ts
  frontend/src/app/models/users/UserPageResponse.ts
  frontend/src/app/models/users/UsersPageWarnings.ts
  frontend/src/app/models/users/UsersWithoutTwoFactorResponse.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/dns-service.ts
  frontend/src/app/services/domain-service.ts
  frontend/src/app/services/group-service.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/services/org-unit-service.ts
  frontend/src/app/services/resolved-notification-service.ts
  frontend/src/app/services/user-service.ts
Due: frontend:build

Make filters a reusable component
  frontend/src/app/components/filter-chips/filter-chips.css
  frontend/src/app/components/filter-chips/filter-chips.html
  frontend/src/app/components/filter-chips/filter-chips.ts
  frontend/src/app/models/FilterOption.ts
  frontend/src/app/models/app-password/UserAppPasswords.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
Due: frontend:build

Change filter colors
  frontend/src/app/pages/security-section/app-access/app-access.ts
Due: frontend:build

Changed the working of the warnings to a seperate component and have it the same on each page.
  frontend/src/app/components/page-warnings/page-warnings-item/page-warnings-item.css
  frontend/src/app/components/page-warnings/page-warnings-item/page-warnings-item.html
  frontend/src/app/components/page-warnings/page-warnings-item/page-warnings-item.spec.ts
  frontend/src/app/components/page-warnings/page-warnings-item/page-warnings-item.ts
  frontend/src/app/components/page-warnings/page-warnings.css
  frontend/src/app/components/page-warnings/page-warnings.html
  frontend/src/app/components/page-warnings/page-warnings.spec.ts
  frontend/src/app/components/page-warnings/page-warnings.ts
  frontend/src/app/pages/control-section/licenses/licenses.html
  frontend/src/app/pages/control-section/licenses/licenses.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/home/home.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Changed the style of the logout dialog.
  frontend/src/app/components/log-out-dialog/log-out-dialog.css
  frontend/src/app/components/log-out-dialog/log-out-dialog.html
  frontend/src/app/components/log-out-dialog/log-out-dialog.ts
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Add search bar reusable component
  frontend/src/app/components/search-bar/search-bar.css
  frontend/src/app/components/search-bar/search-bar.html
  frontend/src/app/components/search-bar/search-bar.ts
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Change filter label in mobile devices page
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
Due: frontend:build

Path conditions:
  backend:test: any of: api/**/*, .gitlab-ci.yml
  backend:build: any of: api/**/*, .gitlab-ci.yml
  frontend:build: any of: frontend/**/*, .gitlab-ci.yml
