Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

.gitlab-ci.yml:

stages: [test, build]

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B test
  tags:
    - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
      - api/target/*.jar
    expire_in: 1 week
  tags:
    - docker

frontend:build:
  stage: build
  image: node:20-alpine
  rules:
    - changes:
        - frontend/**/*
        - .gitlab-ci.yml
  script:
    - cd frontend
    - npm config set fetch-retries 5
    - npm config set fetch-retry-mintimeout 20000
    - npm config set fetch-retry-maxtimeout 120000
    - npm ci
    - npm run build
  artifacts:
    when: always
    paths:
      - frontend/dist/
    expire_in: 1 week
  tags:
    - docker

Show resolved notifications in frontend
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationsResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationControllerIT.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/models/notification/Notification.ts
  frontend/src/app/models/notification/NotificationsResponse.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.spec.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/testing/services/notification-service.spec.ts
Due: backend:test, backend:build, frontend:build

Added an overall error message when the admin email is missing, in the frontend. Fixed a bug with the account manager and the roles.
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/api-error/api-error.css
  frontend/src/app/components/api-error/api-error.html
  frontend/src/app/components/api-error/api-error.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.html
  frontend/src/app/pages/control-section/licenses/licenses.html
  frontend/src/app/pages/control-section/licenses/licenses.ts
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Show last synced at timestamp next to refresh button
  api/src/main/java/com/cloudmen/cloudguard/domain/model/Organization.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationsResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionSyncService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/filter-chips/filter-chips.html
  frontend/src/app/components/filter-chips/filter-chips.ts
  frontend/src/app/models/notification/NotificationsResponse.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Show created at timestamp
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationProjectionSyncServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/models/notification/Notification.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
Due: backend:test, backend:build, frontend:build

Add translations
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
Due: frontend:build

Add and update tests
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationProjectionSyncServiceTest.java
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.int.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.spec.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.int.spec.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.spec.ts
  frontend/src/app/testing/services/notification-service.spec.ts
  frontend/src/app/testing/services/user-service.int.spec.ts
  frontend/src/app/testing/services/user-service.spec.ts
  frontend/src/app/testing/transloco-testing.ts
Due: backend:test, backend:build, frontend:build

Remove unnecessary fields
  api/src/main/java/com/cloudmen/cloudguard/domain/model/notification/NotificationInstance.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionSyncService.java
Due: backend:test, backend:build

Added some notifications for when the admin email is missing.
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/home/home.ts
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Delete env.ts
  frontend/src/env.ts
Due: frontend:build

Changed the design to all have the same style for the no admin email error.
  api/src/main/java/com/cloudmen/cloudguard/exception/NoAdminEmailConfiguredException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleDomainCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/api-error/api-error.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
Due: backend:test, backend:build, frontend:build

Translate notifications
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  frontend/src/app/interceptor/language.interceptor.ts
Due: backend:test, backend:build, frontend:build

Merged and fixed merge request.
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
Due: frontend:build

Change last synced at to relative time
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.spec.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
Due: frontend:build

Include profile section for navbar scroll
  frontend/src/app/navbar/navbar.html
Due: frontend:build

Fixed the tests after the changes.
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/DashboardServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleOAuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleSharedDriveServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleUsersServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/utility/GoogleServiceHelperMethodsTest.java
Due: backend:test, backend:build

Make email layout cohesive
  api/src/main/java/com/cloudmen/cloudguard/service/notification/FeedbackEmailService.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Add html template for emails
  api/src/main/java/com/cloudmen/cloudguard/service/AccessRequestEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/FeedbackEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/reminder/CriticalNotificationReminderEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/SecurityReportEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/SecurityEmailHtml.java
  api/src/main/resources/application.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AccessRequestEmailServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/CriticalNotificationReminderEmailServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/FeedbackEmailServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/report/SecurityReportEmailServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/utility/SecurityEmailHtmlTest.java
Due: backend:test, backend:build

Simplify security score details
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleDeviceServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleGroupsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleSharedDriveServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethodsSecurityScoreTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/security-score-detail/security-score-detail.html
  frontend/src/app/components/security-score-detail/security-score-detail.spec.ts
  frontend/src/app/components/security-score-detail/security-score-detail.ts
  frontend/src/app/testing/transloco-testing.ts
Due: backend:test, backend:build, frontend:build

Delete solved notifications after 30 days
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/configuration/SolvedNotificationCleanupProperties.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/SolvedNotificationCleanupScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/SolvedNotificationCleanupService.java
  api/src/main/resources/application.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/SolvedNotificationCleanupServiceTest.java
Due: backend:test, backend:build

Skip admin email check when serving from the projection
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
Due: backend:test, backend:build

Changed docker compose for vm.
  docker-compose.yml
  traefik/docker-compose.yml
Due: none

Changed for .env to be found.
  docker-compose.yml
Due: none

Changed backend port.
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Fixen van notification aggregation tests naar veranderingen.
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
Due: backend:test, backend:build

Added tests for the organization service and added integration tests for the organization controller.
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/OrganizationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/OrganizationServiceTest.java
Due: backend:test, backend:build

Added filter.
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-organizations/accounts-manager-organizations.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
Due: frontend:build

Added a new tab for getting all the organizations and their admin email.
  api/src/main/java/com/cloudmen/cloudguard/controller/OrganisationController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/OrganizationController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/DatabaseOrgResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/DatabaseUsersResponse.java
  api/src/main/java/com/cloudmen/cloudguard/repository/OrganizationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/models/AccountSectionType.ts
  frontend/src/app/models/SectionType.ts
  frontend/src/app/models/UserGroupSectionType.ts
  frontend/src/app/models/org/DatabaseOrgResponse.ts
  frontend/src/app/models/org/Organization.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-organizations/accounts-manager-organizations.css
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-organizations/accounts-manager-organizations.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-organizations/accounts-manager-organizations.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-organizations/accounts-manager-organizations.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.css
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/services/org-service.ts
Due: backend:test, backend:build, frontend:build

Added a filter for the users account manager per organization.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-users/accounts-manager-users.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Update traefik version and add letsencrypt
  docker-compose.yml
  traefik/docker-compose.yml
  traefik/get-docker.sh
Due: none

Fixed some tests to have the correct outcome.
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleDeviceServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/PasswordSettingsServiceTest.java
Due: backend:test, backend:build

Added javadoc to some files.
  api/src/main/java/com/cloudmen/cloudguard/configuration/WebConfig.java
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/CacheWarmupController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/DashboardController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleLicenseController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOAuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleSharedDriveController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/UserRole.java
Due: backend:test, backend:build

Added for google users start.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleUsersController.java
Due: backend:test, backend:build

Potential fixes for backend.
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  docker-compose.yml
Due: backend:test, backend:build

Potential fix for frontend.
  frontend/src/app/app.config.ts
Due: frontend:build

CORS fix for backend requests in frontend.
  api/src/main/java/com/cloudmen/cloudguard/configuration/WebConfig.java
Due: backend:test, backend:build

Added fixes for other orgs when trying to login.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/WorkspaceSetupController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/workspace/WorkspaceSetupRequest.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/java/com/cloudmen/cloudguard/service/WorkspaceSetupService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/UserServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/access/access.guard.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/auth/callback/callback.ts
  frontend/src/app/guards/role.guard.ts
  frontend/src/app/pages/page-access-denied/page-access-denied.css
  frontend/src/app/pages/page-access-denied/page-access-denied.html
  frontend/src/app/pages/page-access-denied/page-access-denied.ts
  frontend/src/app/pages/workspace-setup/workspace-setup.css
  frontend/src/app/pages/workspace-setup/workspace-setup.html
  frontend/src/app/pages/workspace-setup/workspace-setup.spec.ts
  frontend/src/app/pages/workspace-setup/workspace-setup.ts
  frontend/src/app/services/user-service.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Changed pipeline script to work on server.
  .gitlab-ci.yml
  docker-compose.yml
Due: backend:test, backend:build, frontend:build

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: backend:test, backend:build, frontend:build

Fixed tests in backend.
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AppPasswordControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AuthControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/DashboardControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/DnsRecordsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleDeviceControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleDomainControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleGroupsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleLicenseControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleOAuthControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleOrgUnitsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleSharedDriveControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/GoogleUsersControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationFeedbackControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/OrganizationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/PasswordSettingsControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/ReportControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/TeamleaderAccessControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/UserControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/UserSecurityPreferenceControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/helper/AuthTestHelper.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleOAuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/PasswordSettingsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/UserServiceTest.java
  api/src/test/resources/application-test.properties
Due: backend:test, backend:build

Added test.
  frontend/src/index.html
Due: frontend:build
