Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B test
  tags:
  - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
    - api/target/*.jar
    expire_in: 1 week
  tags:
  - docker

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend
  - npm config set fetch-retries 5
  - npm config set fetch-retry-mintimeout 20000
  - npm config set fetch-retry-maxtimeout 120000
  - npm ci
  - npm run build
  artifacts:
    when: always
    paths:
    - frontend/dist/
    expire_in: 1 week
  tags:
  - docker

Add links to google admin console
  api/src/main/java/com/cloudmen/cloudguard/dto/OrgUnitPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
Due: backend:test, backend:build, frontend:build

Solve rebase conflicts
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/ServiceStatus.java
  api/src/main/java/com/cloudmen/cloudguard/dto/ServiceStatusDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitNodeDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOrgUnitService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyAggregator.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/PolicyApiCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleApiFactory.java
Due: backend:test, backend:build

Added the finished formatting for the drive file.
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
Due: frontend:build

Changed all the pages to use the new icons file.
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/pages/forbidden/forbidden.html
  frontend/src/app/pages/forbidden/forbidden.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.html
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/shared/app-icons.ts
Due: frontend:build

Added utility methods class and reordered the shared drives ts page.
  frontend/src/app/auth/login/login.ts
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-header/page-header.ts
  frontend/src/app/components/section-top-card/section-top-card.ts
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/forbidden/forbidden.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/shared/AppIcons.ts
  frontend/src/app/shared/UtilityMethods.ts
  frontend/src/app/shared/app-icons.ts
Due: frontend:build

Changed all the locations that use icons to use the new icon file.
  frontend/src/app/auth/login/login.html
  frontend/src/app/auth/login/login.ts
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-header/page-header.spec.ts
  frontend/src/app/components/page-header/page-header.ts
  frontend/src/app/components/section-top-card/section-top-card.ts
  frontend/src/app/components/splash-screen/splash-screen.html
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/shared/app-icons.ts
Due: frontend:build

Added the same file style to the users page and the devices page.
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Changed some more stuff in the code.
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/LoginResult.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/JwtService.java
  frontend/src/app/auth/login/login.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
Due: backend:test, backend:build, frontend:build

Changed the icons in the organizational units page.
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Added some fix for the duplicate code in shared drive service.3
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
Due: backend:test, backend:build

Update loading sign for groups settings
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
Due: frontend:build

Add cohesive loading screen to OU page
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
Due: frontend:build

Add cohesive loading text to shared drives page
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
Due: frontend:build

Added caching logic to the users page.
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleUserAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/LoginResult.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUserAdminService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/java/com/cloudmen/cloudguard/service/caching/GoogleUserCacheService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/user-service.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Update the search bar and filters to look more cohesive
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Added caching to the groups.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleGroupAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/CachedGroupItem.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupSettingsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsAdminService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUserAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/services/group-service.ts
Due: backend:test, backend:build, frontend:build

Update shared drives and groups list to use the same design
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
Due: frontend:build

Remove group expansion
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
Due: backend:test, backend:build, frontend:build

Update icons
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Added caching for the groups, shared drives and mobile devices.
  api/src/main/java/com/cloudmen/cloudguard/controller/CacheWarmupController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleGroupsController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleMobileDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleSharedDriveController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleUsersController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/MobileDeviceCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleMobileDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleMobileDeviceCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleSharedDriveCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleUsersCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/caching/GoogleUserCacheService.java
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/services/drive-service.ts
  frontend/src/app/services/mobile-device-service.ts
  frontend/src/app/services/warmup-cache-service.ts
Due: backend:test, backend:build, frontend:build

Added caching for org units and the policies.
  api/src/main/java/com/cloudmen/cloudguard/controller/CacheWarmupController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOrgUnitsController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitCacheEntry.java
  api/src/main/java/com/cloudmen/cloudguard/service/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOrgUnitService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOrgUnitCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
Due: backend:test, backend:build

Added caching to the groups settings section to load them with the groups.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleGroupsController.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/services/group-service.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Added a refresh button to the organizational units page to refresh the data.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOrgUnitsController.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/services/org-unit-service.ts
Due: backend:test, backend:build, frontend:build

Changed the concurrentmap, to use caffeine library to delete data in cache after 1 hour and get the new data.
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOrgUnitsController.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleMobileDeviceCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOrgUnitCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleSharedDriveCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleUsersCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
Due: backend:test, backend:build, frontend:build

Added the overal page style of the app access page.
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
Due: frontend:build

Add chrome extensions policy provider
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromePolicyApiService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyAggregator.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/PolicyApiCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  frontend/src/app/services/org-unit-service.ts
Due: backend:test, backend:build, frontend:build

Add provider
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromeExtensionPolicyProvider.java
Due: backend:test, backend:build

Update frontend
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromeExtensionPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/PolicyApiCacheService.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
Due: backend:test, backend:build, frontend:build

Fix error
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromeExtensionPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromePolicyApiService.java
Due: backend:test, backend:build

Improve base explanation and description
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromeExtensionPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
Due: backend:test, backend:build, frontend:build

Added more style to the app access page.
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
Due: frontend:build

Added correct names to the most common scopes, added filters for the apps on high risk or not.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOAuthController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oAuth/OAuthOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  frontend/src/app/models/o-auth/OAuthOverviewResponse.ts
  frontend/src/app/models/o-auth/Risk.ts
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/services/o-auth-service.ts
Due: backend:test, backend:build, frontend:build

Changed the filter numbers to represent the found apps after the search .
  api/src/main/java/com/cloudmen/cloudguard/dto/oAuth/OAuthOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/oAuth/OAuthPagedResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  frontend/src/app/models/o-auth/OAuthOverviewResponse.ts
  frontend/src/app/models/o-auth/OAuthPagedResponse.ts
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
Due: backend:test, backend:build, frontend:build

Changed the way of getting all the data twice to check if it is a high risk app or not to use partitioned map.
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
Due: backend:test, backend:build

Changed the time to live of the Caffeine builder in all the caches.
  api/src/main/java/com/cloudmen/cloudguard/dto/oAuth/AggregatedApp.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOAuthCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOrgUnitCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleSharedDriveCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleUsersCacheService.java
Due: backend:test, backend:build

Added some style fix for the pill shaped items in the tables.3
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
Due: backend:test, backend:build, frontend:build

Changed the amount of apps visible at a time on the page to 3.
  frontend/src/app/pages/security-section/app-access/app-access.ts
Due: frontend:build

Add simple backend
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/AppPasswordDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
Due: backend:test, backend:build

Path conditions:
  backend:test: any of: api/**/*, .gitlab-ci.yml
  backend:build: any of: api/**/*, .gitlab-ci.yml
  frontend:build: any of: frontend/**/*, .gitlab-ci.yml
