Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B test
  tags:
  - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
    - api/target/*.jar
    expire_in: 1 week
  tags:
  - docker

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend
  - npm config set fetch-retries 5
  - npm config set fetch-retry-mintimeout 20000
  - npm config set fetch-retry-maxtimeout 120000
  - npm ci
  - npm run build
  artifacts:
    when: always
    paths:
    - frontend/dist/
    expire_in: 1 week
  tags:
  - docker

Fix error and update tests
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/WorkspaceCustomerIdResolver.java
  api/src/main/resources/application-local.yml
  api/src/main/resources/application.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/preference/UserSecurityPreferenceServiceTest.java
Due: backend:test, backend:build

Add cleanup for unused empty organizations
  api/src/main/java/com/cloudmen/cloudguard/repository/OrganizationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserSecurityPreferenceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/OrganizationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/UserServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/preference/UserSecurityPreferenceServiceTest.java
Due: backend:test, backend:build

Remove temporary empty organization assignment
  api/src/main/java/com/cloudmen/cloudguard/dto/workspace/WorkspaceCustomer.java
  api/src/main/java/com/cloudmen/cloudguard/exception/OrganizationRequiredException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/WorkspaceCustomerIdResolver.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/UserSecurityPreferenceService.java
  api/src/main/resources/application-local.yml
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/OrganizationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/WorkspaceCustomerIdResolverTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/preference/UserSecurityPreferenceServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/message-dialog/message-dialog.css
  frontend/src/app/components/message-dialog/message-dialog.html
  frontend/src/app/components/message-dialog/message-dialog.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.spec.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
Due: backend:test, backend:build, frontend:build

Turn domain wide delegation on for customer id
  api/src/main/resources/application-local.yml
Due: backend:test, backend:build

Added user roles for CloudGuard with a seperate page for the CLOUDMEN admin to give others roles.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/DatabaseUsersResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserUpdateRoleRequest.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/java/com/cloudmen/cloudguard/service/teamleader/TeamleaderAccessService.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/auth/callback/callback.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/components/assign-role-dialog/assign-role-dialog.css
  frontend/src/app/components/assign-role-dialog/assign-role-dialog.html
  frontend/src/app/components/assign-role-dialog/assign-role-dialog.ts
  frontend/src/app/models/users/DatabaseUsersResponse.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/navbar/nav-item/nav-item.css
  frontend/src/app/navbar/nav-item/nav-item.html
  frontend/src/app/navbar/nav-item/nav-item.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.css
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.ts
  frontend/src/app/pages/request-access/request-access.css
  frontend/src/app/pages/request-access/request-access.html
  frontend/src/app/pages/request-access/request-access.spec.ts
  frontend/src/app/pages/request-access/request-access.ts
  frontend/src/app/services/user-service.ts
  frontend/src/app/shared/AppIcons.ts
  frontend/src/styles.css
Due: backend:test, backend:build, frontend:build

Added all the frontend and backend code for the userroles.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/UserRole.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/UserServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/assign-role-dialog/assign-role-dialog.html
  frontend/src/app/components/language-bar/language-bar.ts
  frontend/src/app/components/view-roles-dialog/view-roles-dialog.css
  frontend/src/app/components/view-roles-dialog/view-roles-dialog.html
  frontend/src/app/components/view-roles-dialog/view-roles-dialog.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.ts
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/profile/profile.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Fixed the existing tests after merge.
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AuthControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/AuthServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/UserServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderAccessServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderCompanyServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/UserServiceTest.java
Due: backend:test, backend:build

Added frontend tests for the new added functions and code.
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.int.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.spec.ts
  frontend/src/app/pages/request-access/request-access.spec.ts
  frontend/src/app/testing/services/user-service.int.spec.ts
  frontend/src/app/testing/services/user-service.spec.ts
Due: frontend:build

Fixed the removing of exisiting roles for users.
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
Due: backend:test, backend:build

Add notification entity, enum and repository
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/configuration/NotificationProjectionProperties.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/notification/NotificationInstance.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/notification/NotificationInstanceStatus.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/notification/NotificationSeverity.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Add method in user repository
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
Due: backend:test, backend:build

Add org-wide notification projection
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/notification/NotificationSeverity.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionSyncService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationProjectionSyncServiceTest.java
Due: backend:test, backend:build

Improve and clean up notifications
  api/src/main/java/com/cloudmen/cloudguard/configuration/NotificationProjectionProperties.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionSyncService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationSourceViewerRoles.java
  api/src/main/resources/application.properties
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationProjectionSyncServiceTest.java
Due: backend:test, backend:build

Added a route guard and specific filter for the account management.
  api/src/main/java/com/cloudmen/cloudguard/domain/model/Organization.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/UserRole.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/UserServiceIT.java
  frontend/.gitignore
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/guards/role.guard.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/access-denied/access-denied.css
  frontend/src/app/pages/access-denied/access-denied.html
  frontend/src/app/pages/access-denied/access-denied.ts
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/profile/profile.ts
Due: backend:test, backend:build, frontend:build

Make dismissed notifications org-wide
  api/src/main/java/com/cloudmen/cloudguard/domain/model/feedback/DismissedNotification.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/notification/NotificationInstance.java
  api/src/main/java/com/cloudmen/cloudguard/repository/DismissedNotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/DismissedNotificationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionSyncService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/DismissedNotificationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
Due: backend:test, backend:build

Added a way for the CLOUDMEN admin to add an organization for the accounts, and made the users api call with the email from an admin.
  api/src/main/java/com/cloudmen/cloudguard/controller/OrganisationController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/Organization.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/DatabaseUsersResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UsersUpdateOrganizationRequest.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleUsersCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleApiFactory.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AuthControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/AuthServiceIT.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/models/org/Organization.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.ts
  frontend/src/app/services/org-service.ts
  frontend/src/app/services/user-service.ts
  frontend/src/app/testing/services/org-service.spec.ts
Due: backend:test, backend:build, frontend:build

Added the api change to the groups cache.
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
Due: backend:test, backend:build

Send weekly email reminders for critical notifications
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/configuration/NotificationReminderProperties.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/CriticalNotificationReminderEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/CriticalNotificationReminderScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/CriticalNotificationWeeklyReminderService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationReminderEmailService.java
  api/src/main/resources/application.properties
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
Due: backend:test, backend:build

Changed all the google api calls to be able to get all the data even when a normal user.
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDomainService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleDeviceCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleDomainCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleLicenseCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOAuthCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOrgUnitCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleSharedDriveCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleUsersCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/PolicyApiCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/MobileManagementPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyAggregator.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DateTimeConverter.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AppPasswordsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/PasswordSettingsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/utility/DateTimeConverterTest.java
Due: backend:test, backend:build

Add unit tests
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationReminderEmailService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/CriticalNotificationReminderEmailServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/CriticalNotificationWeeklyReminderServiceTest.java
Due: backend:test, backend:build

Added a filter for the CLOUDMEN admin to not be able to change the role or organization. And added an error page for when the user does not have an organization to be able to request it to the admin.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/resources/application.properties
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AuthControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/AuthServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/UserServiceIT.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/auth/callback/callback.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.css
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.spec.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.ts
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager.ts
  frontend/src/app/pages/no-organization/no-organization.css
  frontend/src/app/pages/no-organization/no-organization.html
  frontend/src/app/pages/no-organization/no-organization.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Fix error and update tests
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/CriticalNotificationReminderEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/FeedbackEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationReminderEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DismissedNotificationCleanupScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/utility/UtilityFunctions.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/FeedbackEmailServiceTest.java
Due: backend:test, backend:build

Change email design and update tests
  api/src/main/java/com/cloudmen/cloudguard/service/notification/CriticalNotificationReminderEmailService.java
  api/src/main/resources/application.properties
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/CriticalNotificationReminderEmailServiceTest.java
Due: backend:test, backend:build

Added a distinct request type so the admin knows what to change.
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.html
  frontend/src/app/pages/control-section/accounts-manager/accounts-manager-table/accounts-manager-table.ts
Due: backend:test, backend:build, frontend:build

Add logging
  api/src/main/java/com/cloudmen/cloudguard/service/notification/CriticalNotificationReminderScheduler.java
Due: backend:test, backend:build

Fix notification persistence error
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/CriticalNotificationReminderScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/DismissedNotificationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/resources/application.properties
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/DismissedNotificationServiceTest.java
Due: backend:test, backend:build

Changed the warmup of the cache after login to only include the caches where the user has access for.
  api/src/main/java/com/cloudmen/cloudguard/controller/UserSecurityPreferenceController.java
  api/src/main/java/com/cloudmen/cloudguard/exception/OrganizationNotNullException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/service/AdminSecurityKeysService.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/OrganizationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleOrgUnitCacheService.java
  frontend/src/app/auth/callback/callback.ts
  frontend/src/app/auth/custom-auth-service.ts
Due: backend:test, backend:build, frontend:build

Added the start of the dashboard getting only the nescessary scores.
  api/src/main/java/com/cloudmen/cloudguard/exception/UserNotFoundException.java
  api/src/main/java/com/cloudmen/cloudguard/exception/handler/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/AuthServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/UserServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AuthServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/UserServiceTest.java
Due: backend:test, backend:build

Changed the 6 montly report to be once for the organization sent to the admin of that organization.
  api/src/main/java/com/cloudmen/cloudguard/domain/model/UserRole.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/BiannualReportScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  api/src/main/resources/templates/security-template_en.html
  api/src/main/resources/templates/security-template_nl.html
  api/src/test/java/com/cloudmen/cloudguard/unit/service/DashboardServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/report/PdfReportServiceTest.java
  frontend/src/app/app.routes.ts
  frontend/src/app/models/users/User.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/server-error/server-error.html
  frontend/src/app/pages/server-error/server-error.ts
Due: backend:test, backend:build, frontend:build

Added and fixed some tests.
  api/src/main/java/com/cloudmen/cloudguard/service/AccessRequestEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/resources/application.properties
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/AppPasswordControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/AuthServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/DashboardServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleDeviceServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleLicenseServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleOAuthServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleSharedDriveServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/GoogleUsersServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/JwtServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/SupabaseTokenServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/UserServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/report/PdfReportServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/report/SecurityReportEmailServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderAccessServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderCompanyServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/service/teamleader/TeamleaderServiceIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/AppPasswordsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/DashboardServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/PasswordSettingsServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/UserServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/report/PdfReportServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/utility/GoogleServiceHelperMethodsTest.java
Due: backend:test, backend:build

Changed the aggregation of notifications to only see the ones the user has the rights for.
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  frontend/src/app/auth/callback/callback.ts
Due: backend:test, backend:build, frontend:build

Potential fix for pipeline.
  .gitlab-ci.yml
Due: backend:test, backend:build, frontend:build

Fixed the notifications aggregation erorrs.
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationFeedbackControllerTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/GoogleOrgUnitServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
Due: backend:test, backend:build

Fix for pipeline error.
  .gitlab-ci.yml
Due: backend:test, backend:build, frontend:build

Removed ClOUDMEN_ADMIN_EMAIL from backend application properties and from .env. Reason: Unused
  api/src/main/resources/application.properties
Due: backend:test, backend:build

Fix error and remove dismissed notification feature
  api/src/main/java/com/cloudmen/cloudguard/configuration/NotificationReminderProperties.java
  api/src/main/java/com/cloudmen/cloudguard/controller/DismissedNotificationController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/notification/NotificationInstance.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/DismissNotificationRequest.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationsResponse.java
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationInstanceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/DismissedNotificationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionSyncService.java
  api/src/main/java/com/cloudmen/cloudguard/service/reminder/CriticalNotificationReminderEmailService.java
  api/src/main/java/com/cloudmen/cloudguard/service/reminder/CriticalNotificationReminderScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/reminder/CriticalNotificationWeeklyReminderService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DismissedNotificationCleanupScheduler.java
  api/src/main/resources/db/migrate_resolved_to_dismissed.sql
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/DismissedNotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/integration/controller/NotificationControllerIT.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/CriticalNotificationReminderEmailServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/CriticalNotificationWeeklyReminderServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/DismissedNotificationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationAggregationServiceTest.java
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/NotificationProjectionSyncServiceTest.java
  frontend/src/env.ts
Due: backend:test, backend:build, frontend:build

Remove remaining dismissed notification related code
  api/src/test/java/com/cloudmen/cloudguard/unit/service/notification/CriticalNotificationWeeklyReminderServiceTest.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/models/notification/DismissNotificationRequest.ts
  frontend/src/app/models/notification/DismissedNotification.ts
  frontend/src/app/models/notification/Notification.ts
  frontend/src/app/models/notification/NotificationsResponse.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.spec.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/dismissed-notification-service.ts
  frontend/src/app/services/notification-service.ts
  frontend/src/app/testing/services/dismissed-notification-service.spec.ts
  frontend/src/app/testing/services/notification-service.spec.ts
  frontend/src/app/testing/transloco-testing.ts
Due: backend:test, backend:build, frontend:build

Sync notifications when refresh button is clicked
  api/src/main/java/com/cloudmen/cloudguard/controller/NotificationController.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionSyncService.java
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Add disabled status for notifications generated for disabled preferences
  api/src/main/java/com/cloudmen/cloudguard/domain/model/notification/NotificationInstanceStatus.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationProjectionSyncService.java
Due: backend:test, backend:build

Exclude disabled notifications from reaching the frontend
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
Due: backend:test, backend:build

Path conditions:
  backend:test: any of: api/**/*, .gitlab-ci.yml
  backend:build: any of: api/**/*, .gitlab-ci.yml
  frontend:build: any of: frontend/**/*, .gitlab-ci.yml
