Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B test
  tags:
  - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
    - api/target/*.jar
    expire_in: 1 week
  tags:
  - docker

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend
  - npm config set fetch-retries 5
  - npm config set fetch-retry-mintimeout 20000
  - npm config set fetch-retry-maxtimeout 120000
  - npm ci
  - npm run build
  artifacts:
    when: always
    paths:
    - frontend/dist/
    expire_in: 1 week
  tags:
  - docker

Remove weights from details
  api/src/main/java/com/cloudmen/cloudguard/dto/password/SecurityScoreFactorDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  frontend/src/app/components/security-score-detail/security-score-detail.html
  frontend/src/app/models/password/PasswordSettings.ts
  frontend/src/app/services/security-score-detail.service.ts
Due: backend:test, backend:build, frontend:build

Solve merge conflicts
  api/src/main/java/com/cloudmen/cloudguard/dto/apppasswords/AppPasswordOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  frontend/src/app/models/app-password/AppPasswordOverviewResponse.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
Due: backend:test, backend:build, frontend:build

Added a biannual job, so that the report is generated for each client of CLOUDMEN every january and july.
  api/src/main/java/com/cloudmen/cloudguard/context/UserContext.java
  api/src/main/java/com/cloudmen/cloudguard/controller/ReportController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/TestController.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/BiannualReportScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/SecurityReportEmailService.java
Due: backend:test, backend:build

Change notification statuses to individual boolean fields
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  frontend/src/app/models/notification/Notification.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
Due: backend:test, backend:build, frontend:build

Remove unnecessary card from section top cards
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
Due: frontend:build

Rename notification status to dismissed for clarity
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  frontend/src/app/models/notification/Notification.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/shared/AppIcons.ts
Due: backend:test, backend:build, frontend:build

Rename resolved to dismiss in database
  api/src/main/java/com/cloudmen/cloudguard/controller/DismissedNotificationController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/feedback/DismissedNotification.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/DismissNotificationRequest.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/NotificationsResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/notifications/ResolvedNotificationDto.java
  api/src/main/java/com/cloudmen/cloudguard/repository/DismissedNotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/repository/ResolvedNotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/DismissedNotificationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/ResolvedNotificationService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DismissedNotificationCleanupScheduler.java
  api/src/main/java/com/cloudmen/cloudguard/utility/ResolvedNotificationCleanupScheduler.java
  api/src/main/resources/db/migrate_resolved_to_dismissed.sql
  frontend/src/app/models/notification/DismissNotificationRequest.ts
  frontend/src/app/models/notification/DismissedNotification.ts
  frontend/src/app/models/notification/NotificationsResponse.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/dismissed-notification-service.ts
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Undismiss notifications
  api/src/main/java/com/cloudmen/cloudguard/controller/ResolvedNotificationController.java
  api/src/main/java/com/cloudmen/cloudguard/repository/ResolvedNotificationRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/ResolvedNotificationService.java
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
  frontend/src/app/services/resolved-notification-service.ts
Due: backend:test, backend:build, frontend:build

Remove service status policy provider
  api/src/main/java/com/cloudmen/cloudguard/domain/model/ServiceStatus.java
  api/src/main/java/com/cloudmen/cloudguard/dto/ServiceStatusDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
Due: backend:test, backend:build

Generate notifications for password settings
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/MobileManagementPolicyProvider.java
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Update navbar icons
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/shared/AppIcons.ts
Due: frontend:build

Make 'in behandeling' global
  api/src/main/java/com/cloudmen/cloudguard/repository/NotificationFeedbackRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationFeedbackService.java
Due: backend:test, backend:build

Add mobile device management level to OU policies
  api/src/main/java/com/cloudmen/cloudguard/service/cache/CacheWarmupService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromePolicyApiService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/MobileManagementPolicyProvider.java
Due: backend:test, backend:build

Remove status card from OU page
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
Due: frontend:build

Show profile picture in navbar
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
Due: frontend:build

Load splash screen until 99%
  frontend/src/app/components/splash-screen/splash-screen.ts
Due: frontend:build

Make small changes
  frontend/src/app/pages/home/home.html
Due: frontend:build

Added a method of translating the application. And added a way of adding to the backend.
  api/src/main/java/com/cloudmen/cloudguard/utility/DateTimeConverter.java
  frontend/package-lock.json
  frontend/package.json
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/public/img/en.png
  frontend/public/img/nl.png
  frontend/src/app/app.config.ts
  frontend/src/app/components/language-bar/language-bar.css
  frontend/src/app/components/language-bar/language-bar.html
  frontend/src/app/components/language-bar/language-bar.spec.ts
  frontend/src/app/components/language-bar/language-bar.ts
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-header/page-header.ts
  frontend/src/app/components/page-warnings/page-warnings.html
  frontend/src/app/components/page-warnings/page-warnings.ts
  frontend/src/app/components/security-component/security-component.html
  frontend/src/app/components/security-component/security-component.ts
  frontend/src/app/interceptor/language.interceptor.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/home/home.ts
  frontend/src/app/transloco-loader.ts
  frontend/transloco.config.ts
Due: backend:test, backend:build, frontend:build

Added the translations for the users and groups page.é
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleGroupsCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DateTimeConverter.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/security-score-detail/security-score-detail.html
  frontend/src/app/components/security-score-detail/security-score-detail.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.html
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/security-score-detail.service.ts
Due: backend:test, backend:build, frontend:build

Added the translations to the security overview of the groups and to the organisational units.
  api/src/main/java/com/cloudmen/cloudguard/dto/organization/OrgUnitPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOrgUnitService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ChromeExtensionPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyAggregator.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/access/access.guard.ts
  frontend/src/app/auth/auth.guard.ts
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/components/log-out-dialog/log-out-dialog.html
  frontend/src/app/components/log-out-dialog/log-out-dialog.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/profile/profile.ts
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.html
Due: backend:test, backend:build, frontend:build

Added the translations for the drives.
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveBasicDetail.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/cache/GoogleSharedDriveCacheService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/models/drives/SharedDrive.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
Due: backend:test, backend:build, frontend:build

Added translations for the device page.
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/models/devices/DeviceStatus.ts
  frontend/src/app/pages/security-section/devices/devices.html
  frontend/src/app/pages/security-section/devices/devices.ts
Due: backend:test, backend:build, frontend:build

Added translations for the App Access, App Passwords and Password settings page.
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/security-score-detail/security-score-detail.html
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
Due: backend:test, backend:build, frontend:build

Added translations to the domain and dns page.
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
Due: backend:test, backend:build, frontend:build

Added translations for the licences and feedback & notifications.
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/components/filter-chips/filter-chips.html
  frontend/src/app/components/filter-chips/filter-chips.ts
  frontend/src/app/pages/control-section/licenses/licenses.html
  frontend/src/app/pages/control-section/licenses/licenses.ts
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.ts
Due: backend:test, backend:build, frontend:build

Added translations for the error pages.
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/auth/login/login.html
  frontend/src/app/auth/login/login.ts
  frontend/src/app/pages/forbidden/forbidden.html
  frontend/src/app/pages/forbidden/forbidden.ts
  frontend/src/app/pages/home/home.html
  frontend/src/app/pages/server-error/server-error.html
  frontend/src/app/pages/server-error/server-error.ts
  frontend/src/app/pages/teamleader-access-denied/teamleader-access-denied.html
  frontend/src/app/pages/teamleader-access-denied/teamleader-access-denied.ts
Due: frontend:build

Added some translations to the password-settings of notifications.
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/MobileManagementPolicyProvider.java
  api/src/main/resources/messages_en.properties
  api/src/main/resources/messages_nl.properties
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
Due: backend:test, backend:build, frontend:build

Fixed some merge errors and some translations of the notifications.
  frontend/public/i18n/en.json
  frontend/public/i18n/nl.json
  frontend/src/app/navbar/navbar.html
  frontend/src/app/pages/control-section/reports-reactions/reports-reactions.html
  frontend/src/app/services/notification-service.ts
Due: frontend:build

Add backend
  api/src/main/java/com/cloudmen/cloudguard/controller/UserSecurityPreferenceController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/preference/UserSecurityPreference.java
  api/src/main/java/com/cloudmen/cloudguard/dto/preferences/SectionPreferencesRequest.java
  api/src/main/java/com/cloudmen/cloudguard/dto/preferences/SetPreferenceRequest.java
  api/src/main/java/com/cloudmen/cloudguard/dto/preferences/UserPreferenceDto.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserSecurityPreferenceRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/PreferenceToNotificationMapping.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/UserSecurityPreferenceService.java
Due: backend:test, backend:build

Add simple frontend
  frontend/src/app/app.routes.ts
  frontend/src/app/models/preferences/section-preference-config.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.css
  frontend/src/app/pages/control-section/security-preferences/security-preferences.html
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
  frontend/src/app/services/security-preferences-service.ts
Due: frontend:build

Add preferences facade
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.html
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/security-preferences-facade.ts
Due: frontend:build

Change UI according to security preference
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserSecurityEvaluation.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/PreferenceToNotificationMapping.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  frontend/src/app/models/preferences/section-preference-config.ts
  frontend/src/app/models/users/UserOrgDetails.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/notification-service.ts
Due: backend:test, backend:build, frontend:build

Gray out top section cards for disabled preferences
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.html
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Gray out fields that are disabled in preferences
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Clean up code
  api/src/main/java/com/cloudmen/cloudguard/repository/UserSecurityPreferenceRepository.java
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.html
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/security-preferences-service.ts
  frontend/src/app/shared/KpiColors.ts
Due: backend:test, backend:build, frontend:build

Refactor frontend with kpi colors and preference loading
  frontend/src/app/pages/security-section/app-access/app-access.ts
  frontend/src/app/pages/security-section/app-passwords/app-passwords.ts
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/pages/security-section/password-settings/password-settings.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/security-preferences-facade.ts
  frontend/src/app/shared/KpiColors.ts
Due: frontend:build

Add preference-aware warnings
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleGroupsController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleSharedDriveController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleUsersController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/DeviceOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/groups/GroupOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/preferences/SectionWarningsDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/users/UserOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/SectionWarningEvaluator.java
  frontend/src/app/models/SectionWarnings.ts
  frontend/src/app/models/devices/DevicesOverviewResponse.ts
  frontend/src/app/models/drives/SharedDriveOverviewResponse.ts
  frontend/src/app/models/users/UserOverviewResponse.ts
  frontend/src/app/pages/security-section/devices/devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/group-service.ts
  frontend/src/app/shared/KpiColors.ts
Due: backend:test, backend:build, frontend:build

Gray out high-risk apps
  frontend/src/app/pages/security-section/app-access/app-access.html
  frontend/src/app/pages/security-section/app-access/app-access.ts
Due: frontend:build

Add dns importance per type in settings
  api/src/main/java/com/cloudmen/cloudguard/controller/DnsRecordsController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/UserSecurityPreferenceController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/preference/UserSecurityPreference.java
  api/src/main/java/com/cloudmen/cloudguard/dto/preferences/PreferencesResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/preferences/SetPreferenceRequest.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/dns/DnsRecordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/DnsImportancePreferenceSupport.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/PreferenceToNotificationMapping.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/UserSecurityPreferenceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
  frontend/src/app/models/preferences/PreferencesResponse.ts
  frontend/src/app/models/preferences/section-preference-config.ts
  frontend/src/app/pages/control-section/security-preferences/security-preferences.html
  frontend/src/app/pages/control-section/security-preferences/security-preferences.ts
  frontend/src/app/pages/security-section/domain-dns/domain-dns.ts
  frontend/src/app/services/security-preferences-service.ts
Due: backend:test, backend:build, frontend:build

Impact security score when setting preferences
  api/src/main/java/com/cloudmen/cloudguard/controller/AppPasswordController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleOAuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/UserSecurityPreferenceController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AppPasswordsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/DashboardService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDeviceService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOAuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUsersService.java
  api/src/main/java/com/cloudmen/cloudguard/service/PasswordSettingsService.java
  api/src/main/java/com/cloudmen/cloudguard/service/notification/NotificationAggregationService.java
  api/src/main/java/com/cloudmen/cloudguard/service/preference/SecurityPreferenceScoreSupport.java
  api/src/main/java/com/cloudmen/cloudguard/service/report/PdfReportService.java
Due: backend:test, backend:build

Path conditions:
  backend:test: any of: api/**/*, .gitlab-ci.yml
  backend:build: any of: api/**/*, .gitlab-ci.yml
  frontend:build: any of: frontend/**/*, .gitlab-ci.yml
