Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B test
  tags:
  - docker

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
  - cd api
  - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
    - api/target/*.jar
    expire_in: 1 week
  tags:
  - docker

frontend:build:
  stage: build
  image: node:20-alpine
  script:
  - cd frontend
  - npm config set fetch-retries 5
  - npm config set fetch-retry-mintimeout 20000
  - npm config set fetch-retry-maxtimeout 120000
  - npm ci
  - npm run build
  artifacts:
    when: always
    paths:
    - frontend/dist/
    expire_in: 1 week
  tags:
  - docker

Fixed some styling for the table and gotten the roles from the backend.
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  frontend/src/app/models/UserOrgDetails.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/styles.css
Due: backend:test, backend:build, frontend:build

Added a search functionality, the top cards with the correct data, the securityscore and added warnings for security faults.
  api/.idea/uiDesigner.xml
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/UserOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/UserOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/UserPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/DateTimeConverter.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  frontend/src/app/models/UserOrgDetails.ts
  frontend/src/app/models/UserOverviewResponse.ts
  frontend/src/app/models/UserPageResponse.ts
  frontend/src/app/models/UsersPageWarnings.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section-top-card/users-section-top-card.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section-top-card/users-section-top-card.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Improve design
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
Due: frontend:build

Add group overview frontend
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
Due: frontend:build

Fetch group data via API
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/GroupOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/services/group-service.ts
Due: backend:test, backend:build, frontend:build

Fetch group settings data via API
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
Due: backend:test, backend:build, frontend:build

Use cloud identity api for groups labels
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
Due: backend:test, backend:build, frontend:build

Make alert banner only visible when alert exists
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
Due: frontend:build

Show real security score
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
Due: backend:test, backend:build, frontend:build

Add deep link to navigate to specific group's settings
  api/src/main/java/com/cloudmen/cloudguard/dto/GroupOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/services/group-service.ts
Due: backend:test, backend:build, frontend:build

Add loading screen
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
Due: frontend:build

Solve merge conflict errors
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
Due: backend:test, backend:build, frontend:build

Separate google admin service for each security section
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDirectoryFactory.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsAdminService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUserAdminService.java
Due: backend:test, backend:build

Add server side search filter
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/services/group-service.ts
Due: backend:test, backend:build, frontend:build

Hide group settings to speed up initial loading time
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/GroupSettingsDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/services/group-service.ts
Due: backend:test, backend:build, frontend:build

Add server side paging
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/GroupPageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/services/group-service.ts
Due: backend:test, backend:build, frontend:build

Separate groups pageoverview for accurate KPIs
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/GroupOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsAdminService.java
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/services/group-service.ts
Due: backend:test, backend:build, frontend:build

Make layout more cohesive
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
Due: frontend:build

Added the starting styles for the drives page.
  frontend/src/app/pages/security-section/shared-drives/shared-drives-top-card/shared-drives-top-card.css
  frontend/src/app/pages/security-section/shared-drives/shared-drives-top-card/shared-drives-top-card.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives-top-card/shared-drives-top-card.spec.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives-top-card/shared-drives-top-card.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Finished the design of the drives page.
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
Due: frontend:build

Finished the style of the drive page, added backend function to get all the drive data, started working on the page overview data and warnings.
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleSharedDriveController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleUserAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveBasicDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDrivePageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveSecurityData.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleApiFactory.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleDirectoryFactory.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsAdminService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUserAdminService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleServiceHelperMethods.java
  frontend/src/app/models/drives/SharedDrive.ts
  frontend/src/app/models/drives/SharedDriveOverviewResponse.ts
  frontend/src/app/models/drives/SharedDrivePageResponse.ts
  frontend/src/app/models/drives/SharedDrivesPageWarnings.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives-top-card/shared-drives-top-card.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives-top-card/shared-drives-top-card.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/drive-service.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Finished the page overview and page warnings.
  api/src/main/java/com/cloudmen/cloudguard/dto/drives/SharedDriveOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleGroupsAdminService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleSharedDriveService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleUserAdminService.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleApiFactory.java
  frontend/src/app/models/drives/SharedDriveOverviewResponse.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
Due: backend:test, backend:build, frontend:build

Added the full styles and the backend code for the mobile devices page, with page overview and warnings.
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleUserAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/MobileDeviceController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/MobileDeviceDetail.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/MobileDeviceOverviewResponse.java
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/MobileDevicePageResponse.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleMobileDeviceService.java
  frontend/src/app/models/devices/MobileDevice.ts
  frontend/src/app/models/devices/MobileDevicePageResponse.ts
  frontend/src/app/models/devices/MobileDevicesOverviewResponse.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices-top-card/mobile-devices-top-card.css
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices-top-card/mobile-devices-top-card.html
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices-top-card/mobile-devices-top-card.spec.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices-top-card/mobile-devices-top-card.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/drive-service.ts
  frontend/src/app/services/mobile-device-service.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Changed the status select to use an enum instead of strings. And changed the pagination to have a clearer style for when a button is pressable and when not.3
  api/src/main/java/com/cloudmen/cloudguard/dto/devices/MobileDeviceStatus.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleMobileDeviceService.java
  frontend/src/app/models/devices/MobileDeviceStatus.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/services/mobile-device-service.ts
Due: backend:test, backend:build, frontend:build

Changed the user repository identifier to match the user model.
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
Due: backend:test, backend:build

Changed all the locations that use icons to use the new icon file.
  frontend/src/app/auth/login/login.html
  frontend/src/app/auth/login/login.ts
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-header/page-header.spec.ts
  frontend/src/app/components/page-header/page-header.ts
  frontend/src/app/components/section-top-card/section-top-card.ts
  frontend/src/app/components/splash-screen/splash-screen.html
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/shared/app-icons.ts
Due: frontend:build

Changed all the pages to use the new icons file.
  frontend/src/app/auth/custom-auth-service.ts
  frontend/src/app/pages/forbidden/forbidden.html
  frontend/src/app/pages/forbidden/forbidden.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.html
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.html
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/shared/app-icons.ts
Due: frontend:build

Added utility methods class and reordered the shared drives ts page.
  frontend/src/app/auth/login/login.ts
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-header/page-header.ts
  frontend/src/app/components/section-top-card/section-top-card.ts
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/forbidden/forbidden.ts
  frontend/src/app/pages/security-section/mobile-devices/mobile-devices.ts
  frontend/src/app/pages/security-section/shared-drives/shared-drives.html
  frontend/src/app/pages/security-section/shared-drives/shared-drives.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/shared/AppIcons.ts
  frontend/src/app/shared/UtilityMethods.ts
  frontend/src/app/shared/app-icons.ts
Due: frontend:build

Add backend
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/OrgUnitNodeDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOrgUnitService.java
Due: backend:test, backend:build

Update the structure of UOs
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
Due: frontend:build

Add frontend
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
Due: frontend:build

Show data from API in frontend
  api/src/main/java/com/cloudmen/cloudguard/configuration/GlobalExceptionHandler.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleOrgUnitService.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
  frontend/src/app/services/org-unit-service.ts
Due: backend:test, backend:build, frontend:build

Show service policies status
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ContextAwareAccessProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ExternalGroupMembersProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyAggregator.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  api/src/main/resources/application-local.yml
Due: backend:test, backend:build

Add policy dto
  api/src/main/java/com/cloudmen/cloudguard/dto/OrgUnitPolicyDto.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
Due: backend:test, backend:build, frontend:build

Add color to the tags
  api/src/main/java/com/cloudmen/cloudguard/dto/OrgUnitPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
Due: backend:test, backend:build, frontend:build

Fix shared drives policy
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatus.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
Due: backend:test, backend:build

Show real UO policies
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/OrgUnitPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ContextAwareAccessProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ExternalGroupMembersProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyAggregator.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/utility/GoogleApiFactory.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
  frontend/src/app/services/org-unit-service.ts
Due: backend:test, backend:build, frontend:build

Fix services policy status
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
Due: backend:test, backend:build

Improve policy explanations and design
  api/src/main/java/com/cloudmen/cloudguard/dto/OrgUnitPolicyDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/OrgUnitPolicyAggregator.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/PolicyApiCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/TSVPolicyProvider.java
  frontend/src/app/pages/security-section/organizational-units/organizational-units.html
  frontend/src/app/pages/security-section/organizational-units/organizational-units.ts
  frontend/src/app/services/org-unit-service.ts
Due: backend:test, backend:build, frontend:build

Replace CAA with shared drive creation policy
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ExternalGroupMembersProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/PolicyApiCacheService.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/ServiceStatusPolicyProvider.java
  api/src/main/java/com/cloudmen/cloudguard/service/policy/SharedDriveCreationPolicyProvider.java
Due: backend:test, backend:build

Path conditions:
  backend:test: any of: api/**/*, .gitlab-ci.yml
  backend:build: any of: api/**/*, .gitlab-ci.yml
  frontend:build: any of: frontend/**/*, .gitlab-ci.yml
