Repository ArnoMassart/CloudGuard: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend:test, backend:build, frontend:build

.gitlab-ci.yml:

stages: [test, build]

backend:test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B test

backend:build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  rules:
    - changes:
        - api/**/*
        - .gitlab-ci.yml
  script:
    - cd api
    - mvn -B -DskipTests package
  artifacts:
    when: always
    paths:
      - api/target/*.jar
    expire_in: 1 week

frontend:build:
  stage: build
  image: node:20-alpine
  rules:
    - changes:
        - frontend/**/*
        - .gitlab-ci.yml
  script:
    - cd frontend
    - npm ci
    - npm run build
  artifacts:
    when: always
    paths:
      - frontend/dist/
    expire_in: 1 week

Test CI
  .gitlab-ci.yml
Due: backend:test, backend:build, frontend:build

Added the full nav items, with a start on the user section on the bottom of the nav.
  frontend/src/app/app.css
  frontend/src/app/app.routes.ts
  frontend/src/app/navbar/nav-item/nav-item.css
  frontend/src/app/navbar/nav-item/nav-item.html
  frontend/src/app/navbar/nav-item/nav-item.ts
  frontend/src/app/navbar/navbar.css
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/users/users.css
  frontend/src/app/users/users.html
  frontend/src/app/users/users.spec.ts
  frontend/src/app/users/users.ts
  frontend/src/theme.css
Due: frontend:build

Added the full styling of the navbar with a hover effect on the logout.
  frontend/src/app/navbar/nav-item/nav-item.html
  frontend/src/app/navbar/navbar.css
  frontend/src/app/navbar/navbar.html
Due: frontend:build

Added the logout functionality in the backend and frontend.
  api/.idea/misc.xml
  api/src/main/java/com/cloudmen/cloudguard/configuration/SecurityConfig.java
  api/src/main/java/com/cloudmen/cloudguard/configuration/WebConfig.java
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/TestController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/RequestCookieDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/resources/application.properties
  frontend/.gitignore
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/log-out-dialog/log-out-dialog.css
  frontend/src/app/log-out-dialog/log-out-dialog.html
  frontend/src/app/log-out-dialog/log-out-dialog.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.spec.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/api-test/api-test.html
  frontend/src/app/pages/api-test/api-test.spec.ts
  frontend/src/app/pages/api-test/api-test.ts
  frontend/src/app/services/api-service.ts
  frontend/src/app/services/auth-service.ts
  frontend/src/app/services/route-service.ts
  frontend/src/index.html
  frontend/src/material-theme.scss
Due: backend:test, backend:build, frontend:build

Added all the logic for the login, with route protection.
  .gitlab-ci.yml
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  frontend/src/app/app.routes.ts
  frontend/src/app/core/auth/auth-service.ts
  frontend/src/app/core/auth/auth.guard.ts
  frontend/src/app/navbar/navbar.ts
Due: backend:test, backend:build, frontend:build

Added a splashscreen for first load of application.
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  frontend/src/app/app.html
  frontend/src/app/app.ts
  frontend/src/app/components/splash-screen/splash-screen.css
  frontend/src/app/components/splash-screen/splash-screen.html
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/core/auth/auth-service.ts
Due: backend:test, backend:build, frontend:build

Configure Auth0 authentication for frontend and backend
  api/src/main/resources/application.yml
  frontend/src/app/app.config.ts
Due: backend:test, backend:build, frontend:build

Add login page to frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.config.ts
  frontend/src/app/app.css
  frontend/src/app/app.html
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/login/login.css
  frontend/src/app/login/login.html
  frontend/src/app/login/login.spec.ts
  frontend/src/app/login/login.ts
Due: frontend:build

Added a proxy config to make the /api work in the frontend with local running the backend and with running it in the docker container.
  docker-compose.yml
  frontend/.gitignore
  frontend/angular.json
  frontend/nginx.conf
  frontend/proxy.conf.js
  frontend/src/app/services/api-service.ts
  frontend/src/app/services/route-service.ts
Due: frontend:build

Changed the frontend site name and the icon to the project name and icon.
  frontend/public/favicon.ico
  frontend/public/icon.ico
  frontend/src/index.html
Due: frontend:build

Fix configuration error
  frontend/src/app/login/login.ts
Due: frontend:build

Changed the size of the initials in the navbar.
  frontend/src/app/navbar/navbar.html
Due: frontend:build

Update user section in navbar
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
Due: frontend:build

Add profile page
  frontend/src/app/navbar/navbar.css
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/profile/profile.css
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/profile/profile.spec.ts
  frontend/src/app/pages/profile/profile.ts
Due: frontend:build

Add link to myaccount
  frontend/src/app/navbar/navbar.css
  frontend/src/app/pages/profile/profile.css
  frontend/src/app/pages/profile/profile.html
Due: frontend:build

Added the login authtoken saving and the logout method via auth0 and via the token.
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/domain/model/User.java
  api/src/main/java/com/cloudmen/cloudguard/dto/TokenRequestDto.java
  api/src/main/java/com/cloudmen/cloudguard/dto/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/repository/UserRepository.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/JwtService.java
  api/src/main/java/com/cloudmen/cloudguard/service/UserService.java
  api/src/main/resources/application-local.yml
  api/src/main/resources/application.properties
  frontend/src/app/app.config.ts
  frontend/src/app/app.css
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/core/auth/auth.guard.ts
  frontend/src/app/core/auth/custom-auth-service.ts
  frontend/src/app/login/login.css
  frontend/src/app/login/login.html
  frontend/src/app/login/login.ts
  frontend/src/app/models/Role.ts
  frontend/src/app/models/User.ts
  frontend/src/app/navbar/navbar.ts
Due: backend:test, backend:build, frontend:build

Removed comment from pom.xml.
  api/pom.xml
Due: backend:test, backend:build

Added in auth0 a way to deny users if they have no admin access.
  frontend/src/app/login/login.ts
Due: frontend:build

Added the role check for the admin in the auth0 dashboard.
  frontend/.gitignore
Due: frontend:build

Added the role check for the admin in the auth0 dashboard.
  api/.gitignore
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/JwtService.java
Due: backend:test, backend:build

Make small changes
  api/src/main/resources/application-local.yml
  frontend/.gitignore
  frontend/proxy.conf.js
Due: backend:test, backend:build, frontend:build

Fix conflicts / errors and improve design
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/core/auth/custom-auth-service.ts
  frontend/src/app/log-out-dialog/log-out-dialog.css
  frontend/src/app/log-out-dialog/log-out-dialog.html
  frontend/src/app/login/login.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/profile/profile.css
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/profile/profile.ts
  frontend/src/styles.css
Due: frontend:build

Added a forbidden page for when the user does not have access to the platform. Changed the location of items to the correct folder.
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/components/log-out-dialog/log-out-dialog.css
  frontend/src/app/components/log-out-dialog/log-out-dialog.html
  frontend/src/app/components/log-out-dialog/log-out-dialog.ts
  frontend/src/app/components/splash-screen/splash-screen.html
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/forbidden/forbidden.css
  frontend/src/app/pages/forbidden/forbidden.html
  frontend/src/app/pages/forbidden/forbidden.ts
  frontend/src/app/pages/login/login.css
  frontend/src/app/pages/login/login.html
  frontend/src/app/pages/login/login.spec.ts
  frontend/src/app/pages/login/login.ts
Due: frontend:build

Use custom auth service to load user
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
Due: backend:test, backend:build

Changed the database port back to 3306.
  api/src/main/resources/application-local.yml
Due: backend:test, backend:build

Added the actual google role of the user in the nav and profile.
  api/pom.xml
  api/src/main/java/com/cloudmen/cloudguard/CloudGuardApplication.java
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/UserDto.java
  api/src/main/java/com/cloudmen/cloudguard/service/AuthService.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  api/src/main/resources/application.properties
  frontend/src/app/app.routes.ts
  frontend/src/app/core/auth/custom-auth-service.ts
  frontend/src/app/models/Role.ts
  frontend/src/app/models/User.ts
  frontend/src/app/navbar/navbar.html
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/login/login.ts
  frontend/src/app/pages/profile/profile.html
  frontend/src/app/pages/profile/profile.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build

Added a page header to be used for each page.
  frontend/src/app/components/page-header/page-header.css
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-header/page-header.spec.ts
  frontend/src/app/components/page-header/page-header.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.css
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.html
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.spec.ts
  frontend/src/app/pages/security-section/users-groups/groups-section/groups-section.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.html
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.css
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Add callback component
  frontend/proxy.conf.js
  frontend/src/app/app.routes.ts
  frontend/src/app/auth/callback/callback.css
  frontend/src/app/auth/callback/callback.spec.ts
  frontend/src/app/auth/callback/callback.ts
  frontend/src/app/auth/login/login.css
  frontend/src/app/auth/login/login.html
  frontend/src/app/auth/login/login.spec.ts
  frontend/src/app/auth/login/login.ts
Due: frontend:build

Redirect to callback after authentication
  frontend/src/app/app.config.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/app.ts
  frontend/src/app/auth/callback/callback.ts
  frontend/src/app/auth/login/login.ts
  frontend/src/app/components/splash-screen/splash-screen.ts
  frontend/src/app/core/auth/custom-auth-service.ts
Due: frontend:build

Fetch user profile immediately after login
  frontend/src/app/core/auth/custom-auth-service.ts
Due: frontend:build

Center card instruction in login page
  frontend/src/app/auth/login/login.css
Due: frontend:build

Added the full styling of the users section.
  frontend/src/app/components/page-header/page-header.html
  frontend/src/app/components/page-header/page-header.ts
  frontend/src/app/models/SectionType.ts
  frontend/src/app/pages/security-section/users-groups/users-groups.html
  frontend/src/app/pages/security-section/users-groups/users-groups.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section-top-card/users-section-top-card.css
  frontend/src/app/pages/security-section/users-groups/users-section/users-section-top-card/users-section-top-card.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section-top-card/users-section-top-card.spec.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section-top-card/users-section-top-card.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Add forbidden page back
  frontend/src/app/app.ts
  frontend/src/app/auth/callback/callback.ts
  frontend/src/app/auth/login/login.ts
  frontend/src/app/core/auth/custom-auth-service.ts
Due: frontend:build

Added all the styling for the user table.
  frontend/src/app/models/UserOrgDetails.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
Due: frontend:build

Added the users in the table with the correct data.
  api/src/main/java/com/cloudmen/cloudguard/controller/AuthController.java
  api/src/main/java/com/cloudmen/cloudguard/controller/GoogleAdminController.java
  api/src/main/java/com/cloudmen/cloudguard/dto/UserOrgDetail.java
  api/src/main/java/com/cloudmen/cloudguard/service/GoogleAdminService.java
  api/src/main/resources/application.properties
  frontend/src/app/navbar/navbar.ts
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.html
  frontend/src/app/pages/security-section/users-groups/users-section/users-section.ts
  frontend/src/app/services/user-service.ts
Due: backend:test, backend:build, frontend:build
